%h2 Sign up
= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|

  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :user_name
    %br/
    = f.text_field :user_name, autofocus: true, autocomplete: "user_name"

  .field
    = f.fields_for :users_departments, UsersDepartment.new do |d|
      = d.label :department_id
      %br/
      = d.collection_select(:department_id, Department.all, :id, :department_name )

  .field
    = f.fields_for :users_factories, UsersFactory.new do |d|
      = d.label :factory_id
      %br/
      = d.collection_select(:factory_id, Factory.all, :id, :factory_name )

  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"