- @orders.transform_keys {|k| k+ Rational(9, 24)}
- count = @orders.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month].to_s
- content_for(:html_title) { '営業部署 : '+ @year_month.sub('-0', '年',) + '月の成績 (計'+ count + '件)' }

.container
  %table.neumorphic
    %thead
      %tr
        %th
        %th{valign:"bottom"} 水上
        %th{valign:"bottom"} 福留
        %th{valign:"bottom"}
          前田
          %br/
          (柳生)
        %th{valign:"bottom"}
          佐藤
          %br/
          (絵)
        %th{valign:"bottom"} 柳沼
        %th{valign:"bottom"}
          前田
          %br/
          (東雲)
        %th{valign:"bottom"} 穴澤
        %th{valign:"bottom"} 武内
        %th{valign:"bottom"} 坂口
        %th{valign:"bottom"} 菅野
        %th{valign:"bottom"} 松友
        %th{valign:"bottom"} 矢部
        %th{valign:"bottom"} 立石
        %th{valign:"bottom"} 加藤
        %th{valign:"bottom"}
          佐藤
          %br/
          (宗我部)
        %th{valign:"bottom"}
          伊藤
          %br/
          (一条)
        %th{valign:"bottom"} 小平
        %th{valign:"bottom"}
          竹内
          %br/
          (宇喜多)
        %th{valign:"bottom"}
          田中
          %br/
          (最上)
        %th{valign:"bottom"} 松浦
        %th{valign:"bottom"}
          壇ノ浦
          %br/
          (宮城)
        %thead
          %tr
            %th 日付
            %th
              - @mizukami_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@mizukami_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @fukudome_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@fukudome_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @yagyu_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@yagyu_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @sato_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@sato_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @yaginuma_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@yaginuma_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @shinonome_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@shinonome_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @anazawa_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@anazawa_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @takeuchi_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@takeuchi_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @sakaguchi_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@sakaguchi_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @kanno_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@kanno_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @matsutomo_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@matsutomo_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @yabe_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@yabe_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @tateishi_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@tateishi_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @kato_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@kato_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @sogabe_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@sogabe_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @ichijo_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@ichijo_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @kodaira_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@kodaira_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @ukita_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@ukita_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @mogami_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@mogami_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @matsuura_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@matsuura_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
            %th
              - @dannoura_number.transform_keys {|k| k+ Rational(9, 24)}
              計#{@dannoura_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date.mon] += v}[@month]}件
              -#%br
              -#  計円
    %tbody
      = render partial: 'day'