%tr
  %td{style:'font-weight:bold'}
    - if order.order_type_id == 1 || order.order_type_id == 2
      %div{style:'display:flex; justify-content: center'}
        = link_to edit_order_path(id: order.uid), method: :get, target:["_blank"] do
          %div{style:'display:flex; justify-content: center'}
            %div{style:'font-size:20px'}
              = QuoteDifficultyLevel.find(order.quote_difficulty_level_id).quote_difficulty_level_name
            #copytext
              = order.uid
        %button.copybtn{type: "button"}
          %i.fas.fa-copy

    - if order.order_type_id == 3
      %div{style:'display:flex; justify-content: center'}
        = link_to edit_order_path(id: order.uid), method: :get, target:["_blank"] do
          %div{style:'display:flex; justify-content: center'}
            %div{style:'font-size:20px'}
              = QuoteDifficultyLevel.find(order.quote_difficulty_level_id).quote_difficulty_level_name
            #copytext
              #fubi
                = order.uid
          %p
          (#{OrderType.find(order.order_type_id).order_type_name})
        %button.copybtn{type: "button"}
          %i.fas.fa-copy

    - if order.order_type_id == 4 || order.order_type_id == 5 || order.order_type_id == 6 || order.order_type_id == 7 || order.order_type_id == 8
      %div{style:'display:flex; justify-content: center'}
        = link_to edit_order_path(id: order.uid), method: :get, target:["_blank"] do
          %div{style:'display:flex; justify-content: center'}
            %div{style:'font-size:20px'}
              = QuoteDifficultyLevel.find(order.quote_difficulty_level_id).quote_difficulty_level_name
            #copytext
              #kono
                = order.uid
          %p
          (#{OrderType.find(order.order_type_id).order_type_name})
        %button.copybtn{type: "button"}
          %i.fas.fa-copy


  %td{style:'font-weight:bold'}
    - if order.customer.customer_type_id == 1
      %div{style:'display:flex; justify-content: center'}
        = link_to customer_path(id: order.customer.uid) do
          #copytext
            #{order.customer.customer_name}
        %button.copybtn{type: "button"}
          %i.fas.fa-copy

    - if order.customer.customer_type_id == 2
      %div{style:'display:flex; justify-content: center'}
        = link_to customer_path(id: order.customer.uid) do
          #copytext
            #fubi
              #{order.customer.customer_name}
        %button.copybtn{type: "button"}
          %i.fas.fa-copy


  %td{style:'font-weight:bold'}
    - if order.customer.customer_type_id == 1
      %p
        #{order.customer.customer_type.customer_type_name}

    - if order.customer.customer_type_id == 2
      %p{id: 'fubi'}
        #{order.customer.customer_type.customer_type_name}


  %td{style:'font-weight:bold'}
    = l(order.try(:order_date), format: :middle, default: '')

  %td{style:'font-weight:bold'}
    %div{style:'display:flex; justify-content: center'}
      #copytext
        = User.find(order.representative_user_id).user_name
      %button.copybtn{type: "button"}
        %i.fas.fa-copy


  %td{style:'font-weight:bold'}
    - OrderAddress.where(order_id: order.id).each do |oa|
      - if PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id.between?(1, 2) || PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id == 28 || PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id.between?(31, 47)
        %div{style:'display:flex; justify-content: center'}
          #copytext
            #fubi
              = PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).name
          %button.copybtn{type: "button"}
            %i.fas.fa-copy
          %br/
      - elsif PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id == 11 || PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id == 13 || PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id == 49
        %div{style:'display:flex; justify-content: center'}
          #copytext
            #lightblue
              = PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).name
          %button.copybtn{type: "button"}
            %i.fas.fa-copy
          %br/
      - else
        %div{style:'display:flex; justify-content: center'}
          #copytext
            = PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).name
          %button.copybtn{type: "button"}
            %i.fas.fa-copy
          %br/


  %td{style:'font-weight:bold'}
    - if order.desired_delivery_date.present?
      - if order.desired_delivery_type_id == 1
        %div{style:'display:flex; justify-content: center'}
          #copytext
            #red
              #{l(order.try(:desired_delivery_date), format: :middle, default: '')}必着
          %button.copybtn{type: "button"}
            %i.fas.fa-copy
          %br/

      - elsif order.desired_delivery_type_id == 2
        %div{style:'display:flex; justify-content: center'}
          #copytext
            #red
              #{l(order.try(:desired_delivery_date), format: :middle, default: '')}までに
          %button.copybtn{type: "button"}
            %i.fas.fa-copy
          %br/

      - elsif order.desired_delivery_type_id == 3 || order.desired_delivery_type_id == 4
        %div{style:'display:flex; justify-content: center'}
          #copytext
            #green
              #{l(order.try(:desired_delivery_date), format: :middle, default: '')}前後
          %button.copybtn{type: "button"}
            %i.fas.fa-copy
          %br/


  %td{style:'font-weight:bold'}
    - if order.internal_delivery_date.present?
      - if order.desired_delivery_type_id == 1 || order.desired_delivery_type_id == 2
        %div{style:'display:flex; justify-content: center'}
          #copytext
            #red
              #{l(order.try(:internal_delivery_date), format: :middle, default: '')}
          %button.copybtn{type: "button"}
            %i.fas.fa-copy
          %br/

      - elsif order.desired_delivery_type_id == 3 || order.desired_delivery_type_id == 4
        %div{style:'display:flex; justify-content: center'}
          #copytext
            #green
              #{l(order.try(:internal_delivery_date), format: :middle, default: '')}
          %button.copybtn{type: "button"}
            %i.fas.fa-copy
          %br/

  %td
    = l(order.try(:payment_deadline_date), format: :middle, default: '')
    %br/
    = number_to_currency(order.try(:payment_amount), format: "%u%n", unit: "¥")

  %td{style:'font-weight:bold; color:dodgerblue'}
    = l(Payment.find_by(order_id: order.id).try(:payment_date), format: :middle, default: '')
    %br/
    = number_to_currency(Payment.find_by(order_id: order.id).try(:amount_paid), format: "%u%n", unit: "¥")

  %td
    - BuyDetail.where(order_id: order.id).each do |buy_detail|
      #{BuyProgress.find(buy_detail.buy_progress_id).buy_progress_name}(#{User.find(buy_detail.buying_user_id).user_name})
      %br/

  %td
    - OrderDetail.where(order_id: order.id).each do |order_detail|
      - SortDetail.where(order_detail_id: order_detail).each do |sort_detail|
        ✔完了(#{User.find(sort_detail.sorting_user_id).user_name})
        %br/

  %td{style:'font-weight:bold'}
    = OrderNote.find_by(order_id: order.id).try(:order_note).to_s.truncate(15)

  %td
    %div
      -##{OrderDetail.where(order_id: order.id).length} 種

    .container
      %tbody
        %tr
        - OrderDetail.where(order_id: order.id).each do |order_detail|
          %td
          %td
          %td
          %td
          %td{align: "right"}
            ↳
          %td
            - if order_detail.mixed_techniques == "mixed"
              合体加工
            - else
              単体加工
          - OrderTechniqueDetail.where(order_detail_id: order_detail.id).each do |order_technique_detail|
            %tbody
              %td
              %td
              %td
              %td
              %td
              %td{align: "right"}
                ↳
              %td
                = Technique.find(order_technique_detail.technique_id).technique_name
                %br
                - OrderDetailOption.where(order_detail_id: order_detail.id).each do |order_detail_option|
                  #{OrderOption.find(order_detail_option.order_option_id).order_option_name}
                  %br

                - OrderTechniqueDetailOption.where(order_detail_id: order_detail.id).each do |order_technique_detail_option|
                  #{TechniqueOption.find(order_technique_detail_option.technique_option_id).technique_option_name}
                  %br

              %td
                - if Factory.find_by(id: order_detail.factory_id).id == 4
                  %p{id: 'toda1'}
                    #{Factory.find(order_detail.factory_id).factory_name}

                - if Factory.find_by(id: order_detail.factory_id).id == 7
                  %p{id: 'nakano'}
                    #{Factory.find(order_detail.factory_id).factory_name}

                - if Factory.find_by(id: order_detail.factory_id).id == 8
                  %p{id: 'bijogi'}
                    #{Factory.find(order_detail.factory_id).factory_name}

              %td
                - if order_technique_detail.progress_id == 2
                  #fubi
                    #{Progress.find(order_technique_detail.progress_id).progress_name}
                - else
                  #{Progress.find(order_technique_detail.progress_id).progress_name}

                - unless order_technique_detail.pasteup_user_id == 1
                  %p
                    (#{User.find(order_technique_detail.pasteup_user_id).user_name})

              %td
              %td
              %td
              %td
              %td
                %div
                  = link_to pasteup_order_path(id: order.uid, 詳細番号: order_detail.id, 制作部署: Technique.find(order_technique_detail.technique_id).technique_name), method: :get do
                    %i.fas.fa-file.fa-2x
                  -# %button.copy-outer{type: "button",:"data-target"=> "#svgcontent"}
                  -#   %i.fas.fa-file.fa-2x
