!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = wicked_pdf_stylesheet_link_tag  'application'
    %title 指示書PDF出力
  %body
    -# #pdfwrapper
    -#   #row1.row
    -#     #label.label
    -#       - if Factory.find_by(id: @order_detail.factory_id).id == 4
    -#         #label-factory{class: 'toda1'}
    -#           #{Factory.find(@order_detail.factory_id).factory_name}
    -#       - if Factory.find_by(id: @order_detail.factory_id).id == 7
    -#         #label-factory{class: 'nakano'}
    -#           #{Factory.find(@order_detail.factory_id).factory_name}
    -#       - if Factory.find_by(id: @order_detail.factory_id).id == 8
    -#         #label-factory{class: 'bijogi'}
    -#           #{Factory.find(@order_detail.factory_id).factory_name}
    -#       #label-manufacturing
    -#         - OrderTechniqueDetail.where(order_detail_id: @order_detail.id).each do |order_technique_detail|
    -#           - if Technique.find_by(id: order_technique_detail.technique_id).id == 1 || Technique.find_by(id: order_technique_detail.technique_id).id == 2 || Technique.find_by(id: order_technique_detail.technique_id).id == 3
    -#             SILK
    -#           - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 4
    -#             INKJET
    -#     #body-order-date
    -#     #payment
    -#       - if Payment.find_by(order_id: @order.id).try(:amount_paid).blank?
    -#         未入金!!
    -#       - elsif @order.try(:payment_amount) == Payment.find_by(order_id: @order.id).try(:amount_paid)
    -#         入金
    -#         %span#done  済
    -#       -else
    -#         不明
    -#     #address-label 納品先
    -#   #row2.row
    -#     #customer-name-box
    -#       #name
    -#         #{@customer.customer_name}
    -#         #sama 様
    -#     #address
    -#       - OrderAddress.where(order_id: @order.id).each do |oa|
    -#         = PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).name
    -#   #row3.row
    -#     #delivery-date
    -#       #year 2020年
    -#       #date #{l(@order.try(:internal_delivery_date), format: :middle, default: '')}
    -#       #date-note
    -#         - if @order.desired_delivery_date.present?
    -#           - if @order.desired_delivery_type_id == 1
    -#             #{l(@order.try(:desired_delivery_date), format: :middle, default: '')}必着
    -#           - elsif @order.desired_delivery_type_id == 2
    -#             #{l(@order.try(:desired_delivery_date), format: :middle, default: '')}までに
    -#           - elsif @order.desired_delivery_type_id == 3 || @order.desired_delivery_type_id == 4
    -#             #{l(@order.try(:desired_delivery_date), format: :middle, default: '')}前後
    -#     #special-mark
    -#       - if @order.customer.customer_type_id == 2
    -#         = image_tag 'dangerous.png', alt: '危険', height: '60px'
    -#         - OrderTechniqueDetailOption.where(order_detail_id: @order_detail.id).each do |order_technique_detail_option|
    -#           - if TechniqueOption.find(order_technique_detail_option.technique_option_id).technique_id == 6
    -#             = image_tag 'tag.png', alt: 'タグ', height: '65px'
    -#     #absoluteness
    -#       %span.circle 絶対
    -#       %span / 通常
    -#   #row4.row
    -#     #id-label ID
    -#     #id-box
    -#       #{@order.uid}
    -#   #row5.row
    -#     #blank
    -#     #picking ピッキング:
    -#     #fabrication 製作:
    -#     #confirmation 確認:
    -#     #inspection 検品:
    -#     #packing 梱包:
    -#   #row6.row
    -#     - ary = []
    -#     #manufacturing-label 加工
    -#     #manufacturing-box
    -#       - OrderTechniqueDetail.where(order_detail_id: @order_detail.id).each do |order_technique_detail|
    -#         %tbody{style:'border:solid 1px #000;'}
    -#           %td{style:'border:solid 1px #000;'}
    -#           - tech = Technique.find(order_technique_detail.technique_id).technique_name
    -#           - ary << tech
    -#       %p
    -#         = ary.join("➕")
    -#
    -#     #pasteup
    -#       指示書作成:
    -#       - OrderTechniqueDetail.where(order_detail_id: @order_detail.id).each do |order_technique_detail|
    -#         #{User.find(order_technique_detail.pasteup_user_id).user_name}
    -#     #representive 営業担当:#{User.find(@order.representative_user_id).user_name}
    -#   #row7.row
    -#     #status-label 状況
    -#     #status-box
    -#   #row8.row
    -#     #detail
    -#       #data DATA:
    -#       #file-name #{@customer.customer_name} 【加工箇所】【入稿データ名】 #{@order.uid}
    -#       #estimation ◆◆◆◆◆◆
    -#   #row9.row
    -#     #note-label 備考
    -#     #note-box
    -#       - OrderDetailOption.where(order_detail_id: @order_detail.id).each do |order_detail_option|
    -#         #{OrderOption.find(order_detail_option.order_option_id).order_option_name}
    -#         %br
    -#       - OrderTechniqueDetailOption.where(order_detail_id: @order_detail.id).each do |order_technique_detail_option|
    -#         #{TechniqueOption.find(order_technique_detail_option.technique_option_id).technique_option_name}
    -#         %br
    %div#btnarea
      %button.copy-outer{type: "button",:"data-target"=> "#svgcontent"}
        %i.fas.fa-file-code.fa-4x
      %span#target_msg_box 指示書SVGをコピーしました!
    %br
    %br
    %svg#svgcontent{:height => "297mm", :version => "1.1", :viewbox => "0 0 210 297", :width => "210mm", :xmlns => "http://www.w3.org/2000/svg", "xmlns:cc" => "http://creativecommons.org/ns#", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:rdf" => "http://www.w3.org/1999/02/22-rdf-syntax-ns#", "xmlns:svg" => "http://www.w3.org/2000/svg"}
      %defs
        %style
          :css
            .st7,.st8 {

              stroke: #000;
              stroke-width: .6792;
              stroke-miterlimit: 10
            }

            .st8,.st9 {
              stroke-width: .5
            }

            .st10,
            .st11,
            .st12,
            .st13,
            .st14,
            .st15,
            .st16,
            .st9 {
              fill: none;
              stroke: #000;
              stroke-miterlimit: 10
            }

            .st11,
            .st12,
            .st13,
            .st14,
            .st15,
            .st16 {
              stroke-width: .75
            }

            .st12,
            .st13,
            .st14,
            .st15,
            .st16 {
              stroke-width: .5012
            }

            .st13,
            .st14,
            .st15 {
              stroke-width: .3
            }

            .st16 {
              stroke-width: 2
            }
            .label-factory{
            font-family: 'HiraginoSans-W6-83pv-RKSJ-H';
            font-size: 13px;
            }
            .toda1{
            fill:#0000ff;
            }
            .yoyogi{
            fill:#ffffff;
            }
            .bijogi{
            fill:#ffff00;
            }
            .label-box{
              font-family: 'HiraginoSans-W6-83pv-RKSJ-H';
              font-size: 13px;
            }

            .body-ordr-box{
              font-family:'KozGoPr6N-Regular-83pv-RKSJ-H';
              font-size: 10px;
            }

            .body-order{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 10px;
            }
            .payment{
              font-family:'KozGoPr6N-Regular-83pv-RKSJ-H';
              font-size: 10px;
            }
            .payment-done{
              font-family:'KozGoPr6N-Regular-83pv-RKSJ-H';
              fill:red;
              font-size: 10px;
            }

            .customer-name{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 30px;
            }
            .sama{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 21px;
            }
            .address{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 9px;
            }
            .address-box{
              font-size:22.168px;
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
            }
            .year{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 8px;
            }

            .delivery-date{
              fill:red;
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 30px;
            }
            .desire{
              font-family:'KozGoPr6N-Regular-83pv-RKSJ-H';
              font-size: 12px;
            }

            .absoluteness{
              font-family:'KozGoPr6N-Regular-83pv-RKSJ-H';
              font-size: 24px;
            }

            .id{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 15px;
            }
            .id-box{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              fill: red;
              font-size: 12px;
            }
            .picking, .fabrication, .confirmation, .inspection, .pasteup, .representative{
              font-family:'KozGoPr6N-Regular-83pv-RKSJ-H';
              font-size: 8px;
            }
            .technique{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 15px;
            }
            .technique-box{
              fill: #ff0000;
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 15px;
            }
            .technique-checkbox{
              fill: #00ffff;
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 15px;
            }
            .technique-plus{
              fill: #000000;
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 15px;
            }

            .process{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size: 15px;
            }
            .data{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              font-size:11.373px;
            }
            .file-name{
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              fill: red;
              font-size: 9px;
            }

            .estimation{
              font-family:'KozGoPr6N-Regular-83pv-RKSJ-H';
              font-size: 10px;
            }
            .note{
              font-family: 'HiraginoSans-W5-83pv-RKSJ-H';
              font-size: 15px;
            }
            .note-box{
              font-size: 30px;
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              fill:#ff0000;
              }
            .note-checkbox{
              font-size: 30px;
              font-family: 'HiraginoSans-W7-83pv-RKSJ-H';
              fill:#00ffff;
            }
            .cls-1 {
                fill: #fff100;
              }
            .cls-2{fill:none;stroke:#fff100;stroke-width:2.05px}
            .cls-3{fill:#000000}
            .tag-white {
              fill: none;
              stroke: #fff;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 2.96px;
            }
            .tag-blue {
              fill: #003d96;
            }
            .tag-blue,
            .tag-black{
              fill-rule: evenodd;
            }
            .tag-black {
              fill: #000000;
            }
            .tag-cream {
              fill: #fff799;
            }
      %g#pdfwrapper{:transform => "matrix(0.35405249,0,0,0.35405249,-0.15617966,-1.1581482)"}
        %g#frame-line
          %path#path40.st16{:d => "m 7.09,9.92 h 581.1 V 831.97 H 7.09 Z"}
          -# %path#path40.st16{:d => "m 7.09,9.92 h 581.1 V 831.97 H 7.09 Z"}
          -# %path#path14.st7{:d => "m 7.09,9.92 h 160 V 32.08 H 7.09 Z"}
          -# - OrderTechniqueDetail.where(order_detail_id: @order_detail.id).each do |order_technique_detail|
          -#   - if Technique.find_by(id: order_technique_detail.technique_id).id == 1
          -#     %path#path14.st7{:d => "m 7.09,9.92 h 160 V 32.08 H 7.09 Z", :fill =>"#00a0e9"}
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 2
          -#     %path#path14.st7{:d => "m 7.09,9.92 h 160 V 32.08 H 7.09 Z", :fill =>"#ff6bf9"}
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 3
          -#     %path#path14.st7{:d => "m 7.09,9.92 h 160 V 32.08 H 7.09 Z", :fill =>"#cee000"}
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 4
          -#     %path#path14.st7{:d => "m 7.09,9.92 h 160 V 32.08 H 7.09 Z", :fill =>"#e07200"}
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 5
          -#     %path#path14.st7{:d => "m 7.09,9.92 h 160 V 32.08 H 7.09 Z", :fill =>"#3c750f"}
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 7
          -#     %path#path14.st7{:d => "m 7.09,9.92 h 160 V 32.08 H 7.09 Z", :fill =>"#b500ff"}
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 8
          -#     %path#path14.st7{:d => "m 7.09,9.92 h 160 V 32.08 H 7.09 Z", :fill =>"#ff0000"}
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 9
          -#     %path#path14.st7{:d => "m 7.09,9.92 h 160 V 32.08 H 7.09 Z", :fill =>"#00a0e9"}
          -# %path#path16.st8{:d => "M 7.74,89.08 H 588.19"}
          -# %path#path18.st9{:d => "m 7.09,152.57 h 581.1 m -581.1,22.3 h 581.1 m -581.1,22.1 h 581.1"}
          -# %path#path20.st10{:d => "m 7.09,220.2 h 581.1"}
          -# %path#path22.st11{:d => "m 7.09,781.78 h 581.1"}
          -# %path#path24.st12{:d => "M 433.38,9.97 V 153.3"}
          -# %path#path26.st13{:d => "m 285.89,89.01 v 63.7"}
          -# %path#path28.st14{:d => "M 433.32,27 H 588.19"}
          -# %path#path30.st11{:d => "m 53.84,781.78 v 50.19"}
          -# %path#path32.st15{:d => "M 53.84,152.64 V 245"}
          -# %path#path34.st9{:d => "M 220.75,174.87 V 197 m 181.76,-22.13 v 22.1 m 0,0 v 23.23 m 88.08,0 v -45.33"}
          -# %path#path36.st10{:d => "m 7.09,245 h 581.1"}
          -# %path#path38.st9{:d => "m 311.79,174.87 v 22.1"}
        -#%g#text-contents
        - if Factory.find_by(id: @order_detail.factory_id).id == 4
          %text.label-factory.toda1{:x => "10", :y => "26.555"}
            戸田1
        - if Factory.find_by(id: @order_detail.factory_id).id == 7
          %text.label-factory.yoyogi{:x => "10", :y => "26.555"}
            代々木
        - if Factory.find_by(id: @order_detail.factory_id).id == 8
          %text.label-factory.bijogi{:x => "10", :y => "26.555"}
            美女木
        %text.label-box{:x => "60", :y => "26.555"}
          -# - OrderTechniqueDetail.where(order_detail_id: @order_detail.id).each do |order_technique_detail|
          -#   - if Technique.find_by(id: order_technique_detail.technique_id).id == 1
          -#     SILK A
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 2
          -#     SILK B
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 3
          -#     NT TAG
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 4
          -#     INKJET
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 5
          -#     EMBROIDERY
          -#     / - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 6
          -#     /   SEWING
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 7
          -#     UV
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 8
          -#     PAD
          -#   - elsif Technique.find_by(id: order_technique_detail.technique_id).id == 9
          -#     BLANK
              -# - else
              -#   不明

        %text.body-order{:x => "139.662", :y => "23.104"}
        %text.body-order{:x => "221.995", :y => "23.104"}
        %text.body-ordr-box{:x => "152.28999", :y => "36.463001"}
        -#%text.payment{:x => "389.04599", :y => "22.348"} 入金
        %text.payment-done{:x => "409.94901", :y => "35.707001"} 済
        %text.customer-name{:x => "13.023", :y => "80.526001"} #{@customer.customer_name}
        -#%text.sama{:x => "398.91199", :y => "75.32"} 様
        -#%text.address{:x => "439.06699", :y => "21.91"} 納品先
        %text.address-box{:x => "437.035", :y => "50.105"}
          - OrderAddress.where(order_id: @order.id).each do |oa|
            = PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).name_text
        %text.year{:x => "13.244", :y => "98.857002"} #{@order.try(:internal_delivery_date).year}年
        %text.delivery-date{:x => "10.856", :y => "128.202"} #{l(@order.try(:internal_delivery_date), format: :middle, default: '')}
        %text.desire{:x => "14.86", :y => "148.16"}
          - if @order.desired_delivery_date.present?
            - if @order.desired_delivery_type_id == 1
              #{l(@order.try(:desired_delivery_date), format: :middle, default: '')}必着
            - elsif @order.desired_delivery_type_id == 2
              #{l(@order.try(:desired_delivery_date), format: :middle, default: '')}までに
            - elsif @order.desired_delivery_type_id == 3 || @order.desired_delivery_type_id == 4
              #{l(@order.try(:desired_delivery_date), format: :middle, default: '')}前後
        %g#special-mark{:x => "330.86", :y => "148.16"}
          - if @order.customer.customer_type_id == 2
            %g#dangerous-mark{:transform => "translate(290 90)"}
              %g#triangle
                %path.cls-3{:d => "M32.87,58.7q-13.2,0-26.4,0a10.52,10.52,0,0,1-2.24-.24,5.17,5.17,0,0,1-4-6.82,14.09,14.09,0,0,1,1.29-2.72Q14.48,26.47,27.43,4.05c.28-.48.57-.95.89-1.4,2.49-3.54,6.9-3.55,9.35.06,1.33,2,2.43,4.07,3.62,6.13Q52.92,29,64.52,49.1c.2.35.4.7.58,1.06,2.25,4.46-.21,8.52-5.23,8.53C50.87,58.72,41.87,58.7,32.87,58.7ZM33,54.76c8.5,0,17-.09,25.49.06,2.56,0,3.68-2.13,2.5-4.17Q48.13,28.51,35.34,6.33c-1.28-2.21-3.46-2.19-4.75,0Q17.81,28.46,5.06,50.57C3.66,53,4.7,54.76,7.49,54.76Z"}
                %path.cls-1{:d => "M33,54.76H7.49c-2.79,0-3.83-1.75-2.43-4.19Q17.81,28.46,30.59,6.36c1.29-2.22,3.47-2.24,4.75,0Q48.17,28.49,61,50.65c1.18,2,.06,4.21-2.5,4.17C50,54.67,41.48,54.76,33,54.76Zm3.94-33h-.05v-.45c0-2.8-1.26-4.14-3.85-4.13S29.2,18.51,29.2,21.3A15.42,15.42,0,0,0,29.31,23c.36,3.51.72,7,1.1,10.54.27,2.5.46,5,.91,7.5A2.59,2.59,0,0,0,33,42.54c.9.23,1.6-.45,1.79-1.44.09-.49.18-1,.23-1.49.17-1.45.32-2.91.47-4.36Q36.21,28.49,36.92,21.71ZM33.34,50.9a2.88,2.88,0,0,0,2.9-3,3,3,0,0,0-5.9.11A2.84,2.84,0,0,0,33.34,50.9Z"}
                %path.cls-3{:d => "M36.92,21.71q-.7,6.76-1.42,13.54c-.15,1.45-.3,2.91-.47,4.36-.05.5-.14,1-.23,1.49-.19,1-.89,1.67-1.79,1.44A2.59,2.59,0,0,1,31.32,41c-.45-2.48-.64-5-.91-7.5-.38-3.51-.74-7-1.1-10.54a15.42,15.42,0,0,1-.11-1.66c0-2.79,1.28-4.18,3.82-4.18s3.84,1.33,3.85,4.13v.45Z"}
                %path.cls-3{:d => "M33.34,50.9a2.84,2.84,0,0,1-3-2.9,3,3,0,1,1,3,2.9Z"}
              %g#kiken
                %path.cls-2{:d => "M24.62,34.66a15,15,0,0,0,2.29-.11v2.59a18.46,18.46,0,0,0-2.13-.08H15.24v.61a19.8,19.8,0,0,1-1.12,6.86,10.34,10.34,0,0,1-1.54,2.69A10.26,10.26,0,0,0,10.46,45,6.89,6.89,0,0,0,12,42.22a19.37,19.37,0,0,0,.61-5.3l-.82.61a10.58,10.58,0,0,0-1.28-2.61,12.32,12.32,0,0,0,3.91-3.45,3.78,3.78,0,0,0,.57-1.13l3.07.42c-.14.19-.3.45-.42.64h3.2a12.46,12.46,0,0,0,1.8-.07l1.28,1.33c-.3.35-.39.46-.58.7s-.68.86-1.08,1.3Zm-5.44,0a8.68,8.68,0,0,0,.66-.93H15.92c-.35.4-.49.58-.82.93Zm4.43,3.1a8.34,8.34,0,0,0,1.29-.07c0,.24,0,.24-.09,1.19-.12,2.55-.29,3.3-.82,3.9s-1.08.66-2.38.66c-.35,0-.61,0-1.28-.07A6.89,6.89,0,0,0,19.6,41a10.74,10.74,0,0,0,1.61.17c.75,0,.87-.13.91-1.06H18.67v3.76c0,.58.28.65,2.42.65s2.76-.11,3.09-.41.28-.57.3-1.92a8.56,8.56,0,0,0,2.5.87c-.12,2.16-.43,2.93-1.4,3.4-.64.33-1.87.44-4.77.44-2.28,0-3.47-.13-4.08-.44S16,45.86,16,45V38.88c0-.49,0-.86-.05-1.19a7.82,7.82,0,0,0,1.26.07Z"}
                %path.cls-2{:d => "M47.31,42.45a15.2,15.2,0,0,0-1.6.06l0-.41c0-.18,0-.51,0-.76v-.08c-.16,1.54-1,2.25-2.82,2.29a5.94,5.94,0,0,0-.4-2.24v3.41a17.09,17.09,0,0,0,.09,2.34H39.83a19.82,19.82,0,0,0,.11-2.39V33c0-.72,0-1.28-.07-1.94a12.06,12.06,0,0,0,1.49.07H44A7.62,7.62,0,0,0,45.28,31l1.08,1.45c-.17.47-.24.65-.35,1a7.64,7.64,0,0,0,3-2.86h2.61a5.66,5.66,0,0,0,2.27,2.16,9.17,9.17,0,0,0,2.36,1,12.56,12.56,0,0,0-1.12,2.68,11.34,11.34,0,0,1-1.31-.69v.79c-.33,0-.58,0-1.26,0h-1v.64h2.14a10.86,10.86,0,0,0,1.49-.07,13.71,13.71,0,0,0-.07,1.47v2.54a10.4,10.4,0,0,0,.07,1.36,16,16,0,0,0-1.61-.06H51.8a7.56,7.56,0,0,0,4.38,2.08A9.16,9.16,0,0,0,55,47.19a9.41,9.41,0,0,1-4.74-3.14,8.09,8.09,0,0,1-4.8,3.21,8.1,8.1,0,0,0-1.36-2.47c2.17-.33,3.55-1.07,4.36-2.34ZM42.53,37.2a20,20,0,0,0,1.08-3.68H42.53Zm0,3.83h.09a1.2,1.2,0,0,0,.24,0c.35,0,.46-.13.46-.51a5.12,5.12,0,0,0-.79-2.8Zm6.68-4.46h-.87c-.65,0-.91,0-1.26,0v-.7c-.39.25-.63.37-1.19.67a6.37,6.37,0,0,0-.51-1.16c0,.05,0,.07-.05.14-.19.56-.35,1-.72,1.82a5.87,5.87,0,0,1,1.14,3V38.46c0-.48,0-.79,0-1.28.43,0,.64,0,1.47,0h2ZM48,39.24v1.18h1.14c0-.51.07-.79.09-1.18Zm3.78-5a8,8,0,0,1-1.33-1.45,9.08,9.08,0,0,1-1.28,1.45Zm-.17,5a10.56,10.56,0,0,1-.06,1.18H52.8V39.24Z"}
                %path.cls-3{:d => "M24.62,34.66a15,15,0,0,0,2.29-.11v2.59a18.46,18.46,0,0,0-2.13-.08H15.24v.61a19.8,19.8,0,0,1-1.12,6.86,10.34,10.34,0,0,1-1.54,2.69A10.26,10.26,0,0,0,10.46,45,6.89,6.89,0,0,0,12,42.22a19.37,19.37,0,0,0,.61-5.3l-.82.61a10.58,10.58,0,0,0-1.28-2.61,12.32,12.32,0,0,0,3.91-3.45,3.78,3.78,0,0,0,.57-1.13l3.07.42c-.14.19-.3.45-.42.64h3.2a12.46,12.46,0,0,0,1.8-.07l1.28,1.33c-.3.35-.39.46-.58.7s-.68.86-1.08,1.3Zm-5.44,0a8.68,8.68,0,0,0,.66-.93H15.92c-.35.4-.49.58-.82.93Zm4.43,3.1a8.34,8.34,0,0,0,1.29-.07c0,.24,0,.24-.09,1.19-.12,2.55-.29,3.3-.82,3.9s-1.08.66-2.38.66c-.35,0-.61,0-1.28-.07A6.89,6.89,0,0,0,19.6,41a10.74,10.74,0,0,0,1.61.17c.75,0,.87-.13.91-1.06H18.67v3.76c0,.58.28.65,2.42.65s2.76-.11,3.09-.41.28-.57.3-1.92a8.56,8.56,0,0,0,2.5.87c-.12,2.16-.43,2.93-1.4,3.4-.64.33-1.87.44-4.77.44-2.28,0-3.47-.13-4.08-.44S16,45.86,16,45V38.88c0-.49,0-.86-.05-1.19a7.82,7.82,0,0,0,1.26.07Z"}
                %path.cls-3{:d => "M47.31,42.45a15.2,15.2,0,0,0-1.6.06l0-.41c0-.18,0-.51,0-.76v-.08c-.16,1.54-1,2.25-2.82,2.29a5.94,5.94,0,0,0-.4-2.24v3.41a17.09,17.09,0,0,0,.09,2.34H39.83a19.82,19.82,0,0,0,.11-2.39V33c0-.72,0-1.28-.07-1.94a12.06,12.06,0,0,0,1.49.07H44A7.62,7.62,0,0,0,45.28,31l1.08,1.45c-.17.47-.24.65-.35,1a7.64,7.64,0,0,0,3-2.86h2.61a5.66,5.66,0,0,0,2.27,2.16,9.17,9.17,0,0,0,2.36,1,12.56,12.56,0,0,0-1.12,2.68,11.34,11.34,0,0,1-1.31-.69v.79c-.33,0-.58,0-1.26,0h-1v.64h2.14a10.86,10.86,0,0,0,1.49-.07,13.71,13.71,0,0,0-.07,1.47v2.54a10.4,10.4,0,0,0,.07,1.36,16,16,0,0,0-1.61-.06H51.8a7.56,7.56,0,0,0,4.38,2.08A9.16,9.16,0,0,0,55,47.19a9.41,9.41,0,0,1-4.74-3.14,8.09,8.09,0,0,1-4.8,3.21,8.1,8.1,0,0,0-1.36-2.47c2.17-.33,3.55-1.07,4.36-2.34ZM42.53,37.2a20,20,0,0,0,1.08-3.68H42.53Zm0,3.83h.09a1.2,1.2,0,0,0,.24,0c.35,0,.46-.13.46-.51a5.12,5.12,0,0,0-.79-2.8Zm6.68-4.46h-.87c-.65,0-.91,0-1.26,0v-.7c-.39.25-.63.37-1.19.67a6.37,6.37,0,0,0-.51-1.16c0,.05,0,.07-.05.14-.19.56-.35,1-.72,1.82a5.87,5.87,0,0,1,1.14,3V38.46c0-.48,0-.79,0-1.28.43,0,.64,0,1.47,0h2ZM48,39.24v1.18h1.14c0-.51.07-.79.09-1.18Zm3.78-5a8,8,0,0,1-1.33-1.45,9.08,9.08,0,0,1-1.28,1.45Zm-.17,5a10.56,10.56,0,0,1-.06,1.18H52.8V39.24Z"}
          - OrderTechniqueDetailOption.where(order_detail_id: @order_detail.id).each do |order_technique_detail_option|
            - if TechniqueOption.find(order_technique_detail_option.technique_option_id).technique_id == 6
              %g#tag-mark{:transform => "translate(350 90)"}
                %path.tag-white{:d => "M38.81,6.2l-9.5,1.4L1.48,40.47l24,20,28.25-33L53,18.72,38.81,6.2Zm6.46,11.3a4.53,4.53,0,1,1-5.66-3A4.53,4.53,0,0,1,45.27,17.5Z"}
                %path.tag-white{:d => "M46.32,17.18a5.63,5.63,0,1,1-7-3.74,5.63,5.63,0,0,1,7,3.74ZM43.81,18a3,3,0,1,0-2,3.75A3,3,0,0,0,43.81,18Z"}
                %path.tag-white{:d => "M45.64,12.05a41.41,41.41,0,0,0-3.76,3.24c-1.52,1.58-.39,2.05.81.45a13.93,13.93,0,0,1,3.4-3.17l.17-.24-.45-.41Z"}
                %path.tag-white{:d => "M46.22,12.66a35.23,35.23,0,0,0-2.86,3.55c-1.1,1.71,0,2.06.82.36a11.81,11.81,0,0,1,2.54-3.45l.11-.26-.48-.35Z"}
                %path.tag-white{:d => "M46.08,11.43a3,3,0,0,1,1.28,1.22c.15.42-.14.91-.73.42l-.79-.67C45.44,12.05,45.33,11.11,46.08,11.43Z"}
                %path.tag-white{:d => "M46.4,12.17A2.57,2.57,0,0,1,47.45,11c5-4,2.89-1.88,3.67-9.52l.24.06c-.7,7.57,1.41,5.86-3.74,9.7-.65.49-.81.57-1,1.35Z"}
                %path.tag-white{:d => "M46.53,12.16a1.12,1.12,0,0,1,.86-1c4.88-1.86,2.4,1.66,1.67-8.31l.24.2c.88,9.49,3.47,6.38-1.71,8.51-.59.24-.71.32-.79,1.21Z"}
                %path.tag-white{:d => "M18.89,37.36a11.87,11.87,0,0,0,.1,1.79H16.64a13.25,13.25,0,0,0,.1-1.79V30.64H15.12a13.4,13.4,0,0,0-1.83.09V28.67a15.22,15.22,0,0,0,1.81.09h5.32a15.7,15.7,0,0,0,1.93-.09v2.06a13.74,13.74,0,0,0-1.93-.09H18.89Z"}
                %path.tag-white{:d => "M30.08,39.15a9.05,9.05,0,0,0-.33-1.36l-.44-1.24H25.45L25,37.79a6.4,6.4,0,0,0-.34,1.36H22.15a13.45,13.45,0,0,0,.65-1.54l2.78-7.52A10.32,10.32,0,0,0,26,28.76h2.75a9.15,9.15,0,0,0,.43,1.33L32,37.61c.25.66.48,1.22.63,1.54Zm-2.52-8c0-.11-.09-.24-.19-.58-.08.27-.09.33-.18.58L26,34.75h2.79Z"}
                %path.tag-white{:d => "M39.18,35.21a7.3,7.3,0,0,0-1.29.07V33.35a10.76,10.76,0,0,0,1.59.07h.85a15.59,15.59,0,0,0,1.58-.06A11.9,11.9,0,0,0,41.82,35v1.39a12.47,12.47,0,0,0,.09,1.77,7.17,7.17,0,0,1-2.07.92,8.44,8.44,0,0,1-2,.26A4.87,4.87,0,0,1,34,37.83a6.25,6.25,0,0,1-1.22-3.95,5.14,5.14,0,0,1,2.45-4.75,5.27,5.27,0,0,1,2.65-.6A4.39,4.39,0,0,1,41,29.72a3.85,3.85,0,0,1,.93,1.57l-2.16.53A2,2,0,0,0,39,30.71a2.35,2.35,0,0,0-1.38-.34,2.5,2.5,0,0,0-1.8.71,4,4,0,0,0-.89,2.81,4.26,4.26,0,0,0,.84,2.84,2.57,2.57,0,0,0,2,.79,3.75,3.75,0,0,0,2-.52V35.21Z"}
                %path.tag-blue{:d => "M38.81,6.2l-9.5,1.4L1.48,40.47l24,20,28.25-33L53,18.72,38.81,6.2Zm6.46,11.3a4.53,4.53,0,1,1-5.66-3A4.53,4.53,0,0,1,45.27,17.5Z"}
                %path.tag-black{:d => "M46.32,17.18a5.63,5.63,0,1,1-7-3.74,5.63,5.63,0,0,1,7,3.74ZM43.81,18a3,3,0,1,0-2,3.75A3,3,0,0,0,43.81,18Z"}
                %path.tag-black{:d => "M45.64,12.05a41.41,41.41,0,0,0-3.76,3.24c-1.52,1.58-.39,2.05.81.45a13.93,13.93,0,0,1,3.4-3.17l.17-.24-.45-.41Z"}
                %path.tag-black{:d => "M46.22,12.66a35.23,35.23,0,0,0-2.86,3.55c-1.1,1.71,0,2.06.82.36a11.81,11.81,0,0,1,2.54-3.45l.11-.26-.48-.35Z"}
                %path.tag-black{:d => "M46.08,11.43a3,3,0,0,1,1.28,1.22c.15.42-.14.91-.73.42l-.79-.67C45.44,12.05,45.33,11.11,46.08,11.43Z"}
                %path.tag-black{:d => "M46.4,12.17A2.57,2.57,0,0,1,47.45,11c5-4,2.89-1.88,3.67-9.52l.24.06c-.7,7.57,1.41,5.86-3.74,9.7-.65.49-.81.57-1,1.35Z"}
                %path.tag-black{:d => "M46.53,12.16a1.12,1.12,0,0,1,.86-1c4.88-1.86,2.4,1.66,1.67-8.31l.24.2c.88,9.49,3.47,6.38-1.71,8.51-.59.24-.71.32-.79,1.21Z"}
                %path.tag-cream{:d => "M18.89,37.36a11.87,11.87,0,0,0,.1,1.79H16.64a13.25,13.25,0,0,0,.1-1.79V30.64H15.12a13.4,13.4,0,0,0-1.83.09V28.67a15.22,15.22,0,0,0,1.81.09h5.32a15.7,15.7,0,0,0,1.93-.09v2.06a13.74,13.74,0,0,0-1.93-.09H18.89Z"}
                %path.tag-cream{:d => "M30.08,39.15a9.05,9.05,0,0,0-.33-1.36l-.44-1.24H25.45L25,37.79a6.4,6.4,0,0,0-.34,1.36H22.15a13.45,13.45,0,0,0,.65-1.54l2.78-7.52A10.32,10.32,0,0,0,26,28.76h2.75a9.15,9.15,0,0,0,.43,1.33L32,37.61c.25.66.48,1.22.63,1.54Zm-2.52-8c0-.11-.09-.24-.19-.58-.08.27-.09.33-.18.58L26,34.75h2.79Z"}
                %path.tag-cream{:d => "M39.18,35.21a7.3,7.3,0,0,0-1.29.07V33.35a10.76,10.76,0,0,0,1.59.07h.85a15.59,15.59,0,0,0,1.58-.06A11.9,11.9,0,0,0,41.82,35v1.39a12.47,12.47,0,0,0,.09,1.77,7.17,7.17,0,0,1-2.07.92,8.44,8.44,0,0,1-2,.26A4.87,4.87,0,0,1,34,37.83a6.25,6.25,0,0,1-1.22-3.95,5.14,5.14,0,0,1,2.45-4.75,5.27,5.27,0,0,1,2.65-.6A4.39,4.39,0,0,1,41,29.72a3.85,3.85,0,0,1,.93,1.57l-2.16.53A2,2,0,0,0,39,30.71a2.35,2.35,0,0,0-1.38-.34,2.5,2.5,0,0,0-1.8.71,4,4,0,0,0-.89,2.81,4.26,4.26,0,0,0,.84,2.84,2.57,2.57,0,0,0,2,.79,3.75,3.75,0,0,0,2-.52V35.21Z"}

        -# %text.absoluteness{:x => "455", :y => "131.375"} 絶対 / 通常
        -# %ellipse{:cx => "480.97", :cy => "119.82", :fill => "none", :rx => "29.59", :ry => "28.34", :stroke => "#e60012", "stroke-miterlimit" => "10", "stroke-width" => "3"}
        -# %text.id{:x => "19.663", :y => "170.533"} ID
        %text.id-box{:x => "63.007999", :y => "168.01801"} #{@order.uid}
        -# %text.picking{:x => "65.120003", :y => "189.54601"} ピッキング:
        -# %text.fabrication{:x => "223.48599", :y => "189.54601"} 製作:
        -# %text.confirmation{:x => "315.85999", :y => "189.045"} 確認:
        -# %text.inspection{:x => "407", :y => "189.54601"} 検品:
        -# %text.pasteup{:x => "497", :y => "189.54601"} 梱包:
        -# %text.technique{:x => "15.153", :y => "213.62399"} 加工
        - ary = []
        %text.technique-box{:x => "64.860001", :y => "215"}
          - if OrderTechniqueDetail.where(order_detail_id: @order_detail.id).size == 1
            - OrderTechniqueDetail.where(order_detail_id: @order_detail.id).each do |order_technique_detail|
              %tspan.technique-box{:x => "64.860001", :y => "215"}
                #{Technique.find(order_technique_detail.technique_id).technique_name}
          - else
            - OrderTechniqueDetail.where(order_detail_id: @order_detail.id).each do |order_technique_detail|
              - if Technique.find(order_technique_detail.technique_id).id != 6
                - tech = Technique.find(order_technique_detail.technique_id).technique_name
                - techcheckbox = tech + '<tspan class="technique-checkbox">□</tspan>'
                - ary << techcheckbox
                -# %tspan.technique-box
                -#   = tech
                -# %tspan.technique-checkbox □
                %tspan.technique-box{:x => "64.860001", :y => "215"}
                  - plus = '<tspan class="technique-plus">+</tspan>'
                  != ary.join(plus)


        %text.pasteup{:x => "407", :y => "213"}
          -# 指示書作成:
          -# - OrderTechniqueDetail.where(order_detail_id: @order_detail.id).each do |order_technique_detail|
          -#   #{User.find(@order_technique_detail.pasteup_user_id).user_name}
        %text.representative{:x => "545", :y => "213"}
          -# %text.representative{:x => "497", :y => "211.965"}
          -# 営業担当:
          #{User.find(@order.representative_user_id).user_name}
        -# %text.process{:x => "15.153", :y => "238.62601"} 状況
        -# %text.data{:x => "16.855", :y => "259.513"} DATA:
        %text.file-name{:x => "64.808998", :y => "259.47699"} #{@customer.customer_name}  【加工箇所】 【入稿データ名】  #{@order.uid}
        %text.estimation{:x => "13.255", :y => "279.94699"}
        -# %text.note{:x => "15.154", :y => "811.078"} 備考
        %text{:x => "65", :y => "811.078"}
          - OrderDetailOption.where(order_detail_id: @order_detail.id).each do |order_detail_option|
            - if OrderOption.find(order_detail_option.order_option_id).id == 1
              %tspan.note-box 袋入れ
              %tspan.note-checkbox □
            - if OrderOption.find(order_detail_option.order_option_id).id == 2
              %tspan.note-box 本制作前に写真確認
              %tspan.note-checkbox □
            - if OrderOption.find(order_detail_option.order_option_id).id == 3
              %tspan.note-box 制作完了後に写真送信
              %tspan.note-checkbox □
            -#{OrderOption.find(order_detail_option.order_option_id).order_option_name}
