%h2 Customer Registration
= form_with model: @customer, local: true do |f|

  .field
    = f.label :customer_name
    %br/
    = f.text_field :customer_name, autofocus: true, autocomplete: "customer_name"
    = f.text_field :customer_furigana, autofocus: true, autocomplete: "customer_furigana"

  .field
    = f.label :customer_type
    %br/
    = f.collection_select(:customer_type_id, CustomerType.all, :id, :customer_type_name )

  .field
    = f.fields_for :companies, Company.new do |c|
      = c.label :company_name
      %br/
      = c.text_field :company_name, autofocus: true, autocomplete: "company_name"
      = c.text_field :company_name_furigana, autofocus: true, autocomplete: "company_name"


  .field
    = f.fields_for :customer_emails, CustomerEmail.new do |e|
      = e.label :customer_email
      %br/
      = e.email_field :customer_email, autofocus: true, autocomplete: "customer_email"

  .field
    = f.fields_for :customer_phone_numbers, CustomerPhoneNumber.new do |p|
      = p.label :customer_phone_number
      %br/
      = p.text_field :customer_phone_number, autofocus: true, autocomplete: "customer_phone_number"

  .field
    = f.fields_for :customer_notes, CustomerNote.new do |n|
      = n.label :customer_note
      %br/
      = n.text_area :customer_note, autofocus: true, autocomplete: "customer_note"

  .actions
    = f.submit "Submit"
