%h2 Customer Registration
= form_with model: @customer, local: true do |f|

  .field
    = f.label :customer_name
    %br/
    = f.text_field :customer_name, autofocus: true, autocomplete: "customer_name"

  .field
    = f.label :customer_furigana
    %br/
    = f.text_field :customer_furigana, autofocus: true, autocomplete: "customer_furigana"

  .field
    = f.label :customer_type
    %br/
    = f.collection_select(:customer_type_id, CustomerType.all, :id, :customer_type_name )

  .actions
    = f.submit "Submit"
