= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :uuid
    = f.text_field :uuid
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :ordered_date
    = f.datetime_select :ordered_date
  .field
    = f.label :responsed_date
    = f.datetime_select :responsed_date
  .field
    = f.label :contact_person
    = f.text_field :contact_person
  .field
    = f.label :states
    = f.text_field :states
  .field
    = f.label :silk_screen_a
    = f.text_field :silk_screen_a
  .field
    = f.label :silk_screen_b
    = f.text_field :silk_screen_b
  .field
    = f.label :silk_screen_c
    = f.text_field :silk_screen_c
  .field
    = f.label :inkjet
    = f.text_field :inkjet
  .field
    = f.label :embroidery
    = f.text_field :embroidery
  .field
    = f.label :sewing
    = f.text_field :sewing
  .field
    = f.label :uv
    = f.text_field :uv
  .field
    = f.label :silk_screen_d
    = f.text_field :silk_screen_d
  .field
    = f.label :option_a
    = f.text_field :option_a
  .field
    = f.label :option_b
    = f.text_field :option_b
  .field
    = f.label :delivery_address
    = f.text_field :delivery_address
  .field
    = f.label :desired_delivery_date
    = f.datetime_select :desired_delivery_date
  .field
    = f.label :internal_delivery_date
    = f.datetime_select :internal_delivery_date
  .field
    = f.label :payment_date
    = f.datetime_select :payment_date
  .field
    = f.label :amount_paid
    = f.number_field :amount_paid
  .field
    = f.label :location_name
    = f.text_field :location_name
  .field
    = f.label :purchase_domestic_products
    = f.text_field :purchase_domestic_products
  .field
    = f.label :purchase_oversea_products
    = f.text_field :purchase_oversea_products
  .field
    = f.label :sorting
    = f.text_field :sorting
  .field
    = f.label :order_note
    = f.text_field :order_note
  .actions
    = f.submit 'Save'
