.nested-fields.form-inline
  #buy.form-group
    = f.label :sort_date, "仕分け完了日"
    = f.date_select :sort_date
    %br/
    %br/
    = f.label :buy_type_id, "国内発注/海外発注"
    = f.collection_select(:buy_type_id, BuyType.all, :id, :buy_type_name)
    %br/
    %div{style: "display:inline-flex"}
      = f.label :sorting_user_id, "仕分け担当者 :"
      = f.collection_select(:sorting_user_id, User.left_joins(:users_departments).where( users_departments: { department_id: [99, 7, 9] }), :id, :user_name)
    %br/
    %br/
    = link_to_remove_association "仕分け詳細を削除❌", f
    %br/
    .buy_notes
      = f.fields_for :sort_notes do |sort_note|
        = render 'sort_note_fields', f: sort_note
      .links
        = link_to_add_association "仕分け備考を追加➕", f, :sort_notes