%h2
  = link_to customer_path(@customer.uid) do
    #{@order.customer.customer_type.customer_type_name}
    #{@customer.customer_name} 様
  (ご注文ID :
  = link_to @order.uid, 'https://mail.google.com/mail/u/0/#search/'+@order.uid, target:["_blank"]
  )
  -# = PaymentMethod.find(@order.customer)

%h3 ご注文日時(受信日時) : #{l(@order.order_date, format: :long, default: '')}
%h3 みつもり難易度 : #{QuoteDifficultyLevel.find(@order.quote_difficulty_level_id).quote_difficulty_level_name}
%h3 担当者 : #{User.find(@order.representative_user_id).user_name}

= render 'form', order: @order
-# = link_to 'みつもり未対応一覧に戻る', representative_backlog_index_path

%svg{:viewbox => "0 0 595.28 841.89", :xmlns => "http://www.w3.org/2000/svg"}
  \/*
  :css
    .st7,.st8{fill:#00a0e9;stroke:#000;stroke-width:.6792;stroke-miterlimit:10}.st8{fill:none;stroke-width:.4997}.st9{stroke-width:.5}.st10,.st11,.st12,.st13,.st14,.st15,.st16,.st9{fill:none;stroke:#000;stroke-miterlimit:10}.st11,.st12,.st13,.st14,.st15,.st16{stroke-width:.75}.st12,.st13,.st14,.st15,.st16{stroke-width:.5012}.st13,.st14,.st15,.st16{stroke-width:.3341}.st14,.st15,.st16{stroke-width:.4566}.st15,.st16{stroke-width:.4701}.st16{stroke-width:2}.st17{font-family:&apos;Helvetica-Bold&apos;}.st18{font-size:16px}.st19{fill:none}.st20{font-family:&apos;KozGoPr6N-Regular-83pv-RKSJ-H&apos;}.st21{font-size:21px}.st22{font-family:&apos;HiraginoSans-W5-83pv-RKSJ-H&apos;}.st23{font-size:15px}.st24{letter-spacing:1}.st25{font-size:8px}.st26{fill:#231815}.st27{font-size:24px}.st28{font-family:&apos;HiraginoSans-W7-83pv-RKSJ-H&apos;}.st29{letter-spacing:6}.st30{font-size:9px}.st31{fill:#040000}.st32{fill:#fff100}.st33,.st34{fill:none;stroke:#fff100;stroke-width:2.0475}.st34{stroke:#fff;stroke-width:2.9587;stroke-linecap:round;stroke-linejoin:round}.st37{fill-rule:evenodd;clip-rule:evenodd}.st38{fill:#fff799}.st39{stroke:#000;stroke-width:2.3514;stroke-miterlimit:10}.st40{fill:#e60012}.st42{font-size:10px}.st44{font-size:12px}.st47{font-size:30px}.st48{letter-spacing:-1}
  */
  %g{:id => "基本"}
    %g
      %path.st7{:d => "M7.09 9.92h124.2v22.16H7.09z"}
      %text.st17.st18{:transform => "translate(46.348 26.555)"}
        SILK
      %text{:transform => "translate(398.912 75.32)"}
        %tspan.st20.st21{:x => "0", :y => "0"} 様
      %text.st22.st23.st24{:transform => "translate(15.154 811.078)"}
        備考
      %text.st20.st25{:transform => "translate(65.12 189.546)"}
        ピッキング
      %text.st26.st20.st25{:transform => "translate(105.12 189.546)"}
        \:
      %text.st20.st25{:transform => "translate(411.734 189.546)"}
        検品
      %text.st26.st20.st25{:transform => "translate(427.734 189.546)"}
        \:
      %text.st20.st25{:transform => "translate(500.537 189.546)"}
        梱包
      %text.st26.st20.st25{:transform => "translate(516.537 189.546)"}
        \:
      %text.st20.st27{:transform => "translate(455 131.375)"}
        絶対 / 通常
      %text.st20.st23.st24{:transform => "translate(15.153 238.626)"}
        状況
      %text.st20.st23.st24{:transform => "translate(15.153 213.624)"}
        加工
      %text.st28.st18.st29{:transform => "translate(19.663 170.533)"}
        ID
      %text.st20.st30{:transform => "translate(439.067 21.91)"}
        納品先
      %text{:transform => "translate(139.662 23.104)"}
        %tspan.st31.st20.st30{:x => "0", :y => "0"} 発注日
      %text.st31.st20.st30{:transform => "translate(221.995 23.104)"}
        着日
      %text.st31.st20.st30{:transform => "translate(389.046 22.348)"}
        入金
      %path.st8{:d => "M7.74 89.08h580.45"}
      %path.st9{:d => "M7.09 152.57h581.1M7.09 174.87h581.1M7.09 196.97h581.1"}
      %path.st10{:d => "M7.09 220.2h581.1"}
      %path.st11{:d => "M7.09 781.78h581.1"}
      %path.st12{:d => "M433.38 9.97V153.3"}
      %path.st13{:d => "M285.89 89.01v63.7"}
      %path.st14{:d => "M433.32 27h154.87"}
      %path.st11{:d => "M53.84 781.78v50.19"}
      %path.st15{:d => "M53.84 152.64V245"}
      %text.st20.st25{:transform => "translate(223.486 189.546)"}
        製作
      %text.st26.st20.st25{:transform => "translate(239.486 189.546)"}
        \:
      %path.st9{:d => "M220.75 174.87V197M402.51 174.87v22.1M402.51 196.97v23.23M490.59 220.2v-45.33"}
      %path.st10{:d => "M7.09 245h581.1"}
      %path.st9{:d => "M311.79 174.87v22.1"}
      %g
        %text.st20.st25{:transform => "translate(315.86 189.045)"}
          確認
        %text.st26.st20.st25{:transform => "translate(331.86 189.045)"}
          \:
      %path.st16{:d => "M7.09 9.92h581.1v822.05H7.09z"}
      %g
        %text.st26.st20.st25{:transform => "translate(411.734 211.907)"}
          指示書作成 : 〇〇
      %g
        %text.st26.st20.st25{:transform => "translate(501.362 211.965)"}
          営業担当 :
  %g{:id => "記載"}
    %text.st40.st28.st18{:transform => "translate(314.423 -56.898)"}
      未入金
    /
      <g id="PH17ro_1_">
      <path d="M-69.53 54.13c-8.8.11-17.6.22-26.4.32-.75.01-1.51-.06-2.25-.22-3.24-.69-4.98-3.56-4.04-6.77.28-.95.76-1.86 1.25-2.74A40017.1 40017.1 0 01-75.65-.45c.27-.48.55-.96.87-1.42 2.45-3.56 6.85-3.63 9.35-.05 1.35 1.94 2.49 4.04 3.7 6.08C-53.82 17.49-45.91 30.81-38 44.14c.21.35.41.7.59 1.06 2.31 4.44-.1 8.52-5.12 8.6-9 .13-18 .22-27 .33zm.06-3.94c8.5-.11 16.99-.3 25.49-.26 2.56.01 3.66-2.17 2.45-4.2-8.74-14.66-17.44-29.34-26.18-44-1.3-2.19-3.49-2.15-4.75.09-8.34 14.84-16.66 29.68-24.97 44.53-1.38 2.46-.32 4.19 2.48 4.16 8.49-.11 16.99-.21 25.48-.32z"/>
      <path class="st32" d="M-69.47 50.19c-8.5.11-16.99.21-25.49.31-2.8.03-3.86-1.7-2.48-4.16A38879.5 38879.5 0 01-72.46 1.83c1.26-2.24 3.44-2.28 4.75-.09 8.73 14.66 17.44 29.34 26.18 44 1.21 2.02.11 4.21-2.45 4.2-8.49-.05-16.99.15-25.49.25zm3.53-33.1h-.05c0-.15 0-.3-.01-.45-.04-2.8-1.31-4.12-3.9-4.09-2.54.04-3.8 1.44-3.77 4.23.01.55.06 1.11.13 1.66.4 3.51.81 7.01 1.23 10.52.3 2.5.52 5.02 1.01 7.49.12.62 1.03 1.36 1.71 1.52.9.22 1.59-.47 1.77-1.46.09-.49.17-.99.22-1.49.15-1.46.28-2.91.41-4.37.42-4.52.83-9.04 1.25-13.56zm-3.22 29.24c1.69-.05 2.94-1.37 2.86-3.05-.08-1.67-1.43-2.9-3.12-2.82-1.59.08-2.8 1.38-2.78 3 .03 1.7 1.32 2.92 3.04 2.87z"/>
      <path d="M-65.94 17.09c-.42 4.52-.83 9.04-1.25 13.56-.13 1.46-.26 2.91-.41 4.37-.05.5-.13 1-.22 1.49-.18.99-.87 1.68-1.77 1.46-.68-.16-1.59-.9-1.71-1.52-.48-2.47-.71-4.99-1.01-7.49-.42-3.5-.82-7.01-1.23-10.52-.06-.55-.12-1.11-.13-1.66-.04-2.79 1.22-4.2 3.77-4.23 2.59-.04 3.85 1.29 3.9 4.09 0 .15 0 .3.01.45h.05zM-69.16 46.33c-1.72.05-3.01-1.16-3.03-2.86-.02-1.62 1.18-2.92 2.78-3 1.68-.08 3.04 1.14 3.12 2.82.07 1.66-1.17 2.99-2.87 3.04z"/>
      </g>
      <path class="st33" d="M-78.08 30.19c1.14-.01 1.64-.04 2.29-.13l.03 2.59c-.67-.06-1.17-.07-2.14-.06l-9.54.12.01.61c.03 2.55-.34 4.97-1.03 6.87-.36.97-.82 1.8-1.51 2.71-.8-1.06-1.23-1.51-2.15-2.23.72-.87 1.12-1.62 1.45-2.77.37-1.25.57-3.21.55-5.31-.29.23-.38.28-.81.62-.43-1.15-.72-1.72-1.31-2.59 1.62-.97 3.02-2.24 3.86-3.5.33-.49.5-.86.56-1.14l3.07.38c-.14.19-.29.46-.41.65l3.2-.04c.94-.01 1.43-.04 1.8-.09l1.29 1.31c-.29.35-.38.46-.57.71-.29.39-.67.87-1.07 1.31l2.43-.02zm-5.44.07c.29-.37.4-.53.65-.94l-3.92.05c-.34.41-.48.58-.81.94l4.08-.05zm4.47 3.04c.61-.01.96-.03 1.29-.09-.03.25-.03.25-.07 1.19-.09 2.56-.26 3.31-.77 3.91-.45.5-1.08.68-2.37.69-.35 0-.61-.01-1.28-.05-.17-.98-.32-1.45-.76-2.35.61.1 1.28.16 1.61.15.75-.01.87-.15.9-1.08l-3.45.04.05 3.76c.01.58.29.64 2.42.62 2.03-.03 2.76-.14 3.09-.44.21-.23.27-.58.27-1.93.99.48 1.5.65 2.51.84-.1 2.15-.4 2.93-1.36 3.41-.64.34-1.87.46-4.77.5-2.27.03-3.47-.08-4.08-.39-.55-.27-.71-.6-.72-1.43l-.08-6.16c-.01-.49-.03-.86-.07-1.19.3.05.68.06 1.26.05l6.38-.05zM-55.3 37.7c-.65.01-1.1.03-1.59.09l.01-.42c.02-.18.01-.51.01-.75v-.09c-.14 1.54-1 2.27-2.79 2.33-.05-1.01-.18-1.68-.43-2.23l.04 3.41c.02 1.31.04 1.82.12 2.34l-2.78.03c.06-.63.09-1.24.08-2.4l-.14-11.69c-.01-.72-.03-1.28-.09-1.94.44.05.82.06 1.49.05l2.64-.03c.65-.01.98-.03 1.28-.09l1.1 1.44c-.17.47-.24.65-.34 1 1.46-.88 2.29-1.67 2.99-2.89l2.61-.03c.5.87 1.14 1.44 2.3 2.12.76.46 1.36.7 2.37 1-.46.85-.77 1.58-1.09 2.69-.55-.24-.69-.31-1.32-.67l.01.79c-.33-.03-.58-.03-1.26-.02l-1 .01.01.65 2.13-.03c.66-.01 1-.03 1.49-.09-.04.63-.06 1-.05 1.47l.03 2.54c.01.53.01.61.09 1.36-.54-.05-.95-.06-1.61-.05l-1.8.02c1.08 1.09 2.44 1.7 4.4 2.03-.51.86-.79 1.51-1.1 2.67-2.13-.67-3.64-1.65-4.78-3.07-1 1.55-2.57 2.62-4.75 3.26-.45-1.13-.79-1.71-1.4-2.45 2.17-.36 3.54-1.11 4.33-2.4l-1.21.04zm-4.84-5.19c.49-1.28.78-2.32 1.04-3.69l-1.08.01.04 3.68zm.05 3.83h.09c.11.02.19.02.25.01.35 0 .45-.13.45-.51-.01-1.05-.29-1.97-.82-2.79l.03 3.29zm6.63-4.54l-.87.01c-.65.01-.91.01-1.26.05l-.01-.7c-.38.25-.63.38-1.18.68-.18-.51-.27-.7-.52-1.15-.02.05-.02.07-.05.14-.19.56-.34.97-.69 1.83.77 1.11 1.06 1.88 1.17 3.01l-.02-1.94c-.01-.47-.03-.79-.07-1.28.44.03.65.03 1.47.02l2.05-.03-.02-.64zm-1.21 2.69l.01 1.17 1.14-.01c.05-.51.06-.79.07-1.17l-1.22.01zm3.72-5.02c-.57-.48-.9-.85-1.35-1.44-.45.62-.76.99-1.26 1.47l2.61-.03zm-.12 4.97c.01.42-.01.84-.04 1.17l1.28-.02-.01-1.17-1.23.02z"/>
      <path d="M-78.08 30.19c1.14-.01 1.64-.04 2.29-.13l.03 2.59c-.67-.06-1.17-.07-2.14-.06l-9.54.12.01.61c.03 2.55-.34 4.97-1.03 6.87-.36.97-.82 1.8-1.51 2.71-.8-1.06-1.23-1.51-2.15-2.23.72-.87 1.12-1.62 1.45-2.77.37-1.25.57-3.21.55-5.31-.29.23-.38.28-.81.62-.43-1.15-.72-1.72-1.31-2.59 1.62-.97 3.02-2.24 3.86-3.5.33-.49.5-.86.56-1.14l3.07.38c-.14.19-.29.46-.41.65l3.2-.04c.94-.01 1.43-.04 1.8-.09l1.29 1.31c-.29.35-.38.46-.57.71-.29.39-.67.87-1.07 1.31l2.43-.02zm-5.44.07c.29-.37.4-.53.65-.94l-3.92.05c-.34.41-.48.58-.81.94l4.08-.05zm4.47 3.04c.61-.01.96-.03 1.29-.09-.03.25-.03.25-.07 1.19-.09 2.56-.26 3.31-.77 3.91-.45.5-1.08.68-2.37.69-.35 0-.61-.01-1.28-.05-.17-.98-.32-1.45-.76-2.35.61.1 1.28.16 1.61.15.75-.01.87-.15.9-1.08l-3.45.04.05 3.76c.01.58.29.64 2.42.62 2.03-.03 2.76-.14 3.09-.44.21-.23.27-.58.27-1.93.99.48 1.5.65 2.51.84-.1 2.15-.4 2.93-1.36 3.41-.64.34-1.87.46-4.77.5-2.27.03-3.47-.08-4.08-.39-.55-.27-.71-.6-.72-1.43l-.08-6.16c-.01-.49-.03-.86-.07-1.19.3.05.68.06 1.26.05l6.38-.05zM-55.3 37.7c-.65.01-1.1.03-1.59.09l.01-.42c.02-.18.01-.51.01-.75v-.09c-.14 1.54-1 2.27-2.79 2.33-.05-1.01-.18-1.68-.43-2.23l.04 3.41c.02 1.31.04 1.82.12 2.34l-2.78.03c.06-.63.09-1.24.08-2.4l-.14-11.69c-.01-.72-.03-1.28-.09-1.94.44.05.82.06 1.49.05l2.64-.03c.65-.01.98-.03 1.28-.09l1.1 1.44c-.17.47-.24.65-.34 1 1.46-.88 2.29-1.67 2.99-2.89l2.61-.03c.5.87 1.14 1.44 2.3 2.12.76.46 1.36.7 2.37 1-.46.85-.77 1.58-1.09 2.69-.55-.24-.69-.31-1.32-.67l.01.79c-.33-.03-.58-.03-1.26-.02l-1 .01.01.65 2.13-.03c.66-.01 1-.03 1.49-.09-.04.63-.06 1-.05 1.47l.03 2.54c.01.53.01.61.09 1.36-.54-.05-.95-.06-1.61-.05l-1.8.02c1.08 1.09 2.44 1.7 4.4 2.03-.51.86-.79 1.51-1.1 2.67-2.13-.67-3.64-1.65-4.78-3.07-1 1.55-2.57 2.62-4.75 3.26-.45-1.13-.79-1.71-1.4-2.45 2.17-.36 3.54-1.11 4.33-2.4l-1.21.04zm-4.84-5.19c.49-1.28.78-2.32 1.04-3.69l-1.08.01.04 3.68zm.05 3.83h.09c.11.02.19.02.25.01.35 0 .45-.13.45-.51-.01-1.05-.29-1.97-.82-2.79l.03 3.29zm6.63-4.54l-.87.01c-.65.01-.91.01-1.26.05l-.01-.7c-.38.25-.63.38-1.18.68-.18-.51-.27-.7-.52-1.15-.02.05-.02.07-.05.14-.19.56-.34.97-.69 1.83.77 1.11 1.06 1.88 1.17 3.01l-.02-1.94c-.01-.47-.03-.79-.07-1.28.44.03.65.03 1.47.02l2.05-.03-.02-.64zm-1.21 2.69l.01 1.17 1.14-.01c.05-.51.06-.79.07-1.17l-1.22.01zm3.72-5.02c-.57-.48-.9-.85-1.35-1.44-.45.62-.76.99-1.26 1.47l2.61-.03zm-.12 4.97c.01.42-.01.84-.04 1.17l1.28-.02-.01-1.17-1.23.02z"/>
    /
      <text transform="translate(483.478 -21.954)" class="st20" font-size="15.215">
      確認写真
      </text>
      <text transform="translate(-479.95 548.482)" class="st40 st28" font-size="20.437">（加工箇所）特大版</text>
      <text transform="translate(337.628 -37.958)" class="st40 st20 st44">
      \-¥
      </text>
      <text transform="translate(404.255 -85.033)" class="st40 st20" font-size="33.4">
      確認中
      </text>
    /
      <path class="st34" d="M-148.05 10.3l-9.5 1.4-27.83 32.87 24.02 20.03 28.25-33-.72-8.79-14.22-12.51zm6.46 11.31c.73 2.39-.62 4.93-3.01 5.66-2.39.73-4.93-.62-5.66-3.01-.73-2.39.62-4.93 3.01-5.66s4.93.61 5.66 3.01z"/>
      <path class="st34" d="M-140.54 21.29c.91 2.97-.77 6.12-3.74 7.03-2.97.91-6.12-.77-7.03-3.74-.91-2.97.77-6.12 3.74-7.03 2.97-.91 6.12.76 7.03 3.74zm-2.52.76a2.99 2.99 0 00-3.75-1.99 2.99 2.99 0 00-1.99 3.75 2.99 2.99 0 003.75 1.99 2.99 2.99 0 001.99-3.75z"/>
      <path class="st34" d="M-141.23 16.16c-1.26 1.03-2.62 2.05-3.76 3.23-1.52 1.58-.39 2.06.82.45.94-1.26 2.02-2.23 3.4-3.17l.17-.24-.45-.41-.18.14zM-140.65 16.76c-.97 1.14-2.02 2.27-2.85 3.55-1.1 1.7-.01 2.06.81.36.64-1.33 1.45-2.39 2.54-3.45l.11-.26-.48-.35-.13.15z"/>
      <path class="st34" d="M-140.79 15.53c.4.17 1.12.78 1.28 1.22.15.42-.14.92-.73.42l-.79-.67c-.4-.35-.5-1.29.24-.97z"/>
      <path class="st34" d="M-140.46 16.27c.22-.58.56-.78 1.04-1.17 4.96-3.99 2.89-1.88 3.68-9.52l.24.06c-.7 7.57 1.41 5.86-3.74 9.71-.65.49-.81.57-1 1.34l-.22-.42z"/>
      <path class="st34" d="M-140.34 16.27c.14-.63.4-.8.86-.97 4.89-1.86 2.4 1.66 1.68-8.31l.24.19c.87 9.49 3.47 6.38-1.71 8.51-.6.25-.72.32-.8 1.22l-.27-.64zM-167.98 41.46c0 .73.03 1.24.1 1.79h-2.35c.08-.55.1-1.05.1-1.79v-6.72h-1.62c-.77 0-1.32.03-1.83.09v-2.06c.51.06 1.07.09 1.81.09h5.32c.89 0 1.41-.03 1.93-.09v2.06c-.52-.06-1.01-.09-1.93-.09h-1.53v6.72zM-156.79 43.25c-.09-.52-.2-.97-.33-1.35l-.43-1.24h-3.86l-.43 1.24c-.2.57-.28.92-.35 1.35h-2.53c.2-.38.38-.8.65-1.53l2.79-7.53c.23-.64.33-.97.41-1.33h2.75c.08.33.15.6.43 1.33l2.81 7.53c.24.65.47 1.21.63 1.53h-2.54zm-2.51-8.01c-.04-.12-.09-.24-.19-.59-.08.27-.09.33-.18.59l-1.2 3.62h2.79l-1.22-3.62zM-147.69 39.31c-.65 0-.91.01-1.29.06v-1.93c.47.06.75.08 1.6.08h.84c.61 0 1.06-.01 1.58-.06-.06.49-.09.88-.09 1.66v1.39c0 .83.01 1.2.09 1.76-.84.51-1.34.73-2.07.92-.61.17-1.37.27-2.04.27-1.65 0-2.98-.54-3.83-1.53-.78-.93-1.23-2.38-1.23-3.95 0-2.17.89-3.9 2.45-4.75.72-.41 1.6-.6 2.65-.6 1.29 0 2.4.42 3.17 1.19.43.45.66.83.93 1.57l-2.16.54c-.2-.59-.4-.87-.77-1.11-.36-.24-.78-.34-1.38-.34-.7 0-1.35.26-1.8.72-.59.61-.89 1.56-.89 2.81 0 1.23.29 2.21.84 2.84.46.52 1.15.79 2.04.79.77 0 1.37-.15 2.01-.52v-1.79h-.65z"/>
      <path d="M-148.05 10.3l-9.5 1.4-27.83 32.87 24.02 20.03 28.25-33-.72-8.79-14.22-12.51zm6.46 11.31c.73 2.39-.62 4.93-3.01 5.66-2.39.73-4.93-.62-5.66-3.01-.73-2.39.62-4.93 3.01-5.66s4.93.61 5.66 3.01z" fill-rule="evenodd" clip-rule="evenodd" fill="#003d96"/>
      <path d="M-140.54 21.29c.91 2.97-.77 6.12-3.74 7.03-2.97.91-6.12-.77-7.03-3.74-.91-2.97.77-6.12 3.74-7.03 2.97-.91 6.12.76 7.03 3.74zm-2.52.76a2.99 2.99 0 00-3.75-1.99 2.99 2.99 0 00-1.99 3.75 2.99 2.99 0 003.75 1.99 2.99 2.99 0 001.99-3.75z" fill-rule="evenodd" clip-rule="evenodd" fill="#020051"/>
      <path class="st37" d="M-141.23 16.16c-1.26 1.03-2.62 2.05-3.76 3.23-1.52 1.58-.39 2.06.82.45.94-1.26 2.02-2.23 3.4-3.17l.17-.24-.45-.41-.18.14zM-140.65 16.76c-.97 1.14-2.02 2.27-2.85 3.55-1.1 1.7-.01 2.06.81.36.64-1.33 1.45-2.39 2.54-3.45l.11-.26-.48-.35-.13.15z"/>
      <path class="st37" d="M-140.79 15.53c.4.17 1.12.78 1.28 1.22.15.42-.14.92-.73.42l-.79-.67c-.4-.35-.5-1.29.24-.97z"/>
      <path class="st37" d="M-140.46 16.27c.22-.58.56-.78 1.04-1.17 4.96-3.99 2.89-1.88 3.68-9.52l.24.06c-.7 7.57 1.41 5.86-3.74 9.71-.65.49-.81.57-1 1.34l-.22-.42z"/>
      <path class="st37" d="M-140.34 16.27c.14-.63.4-.8.86-.97 4.89-1.86 2.4 1.66 1.68-8.31l.24.19c.87 9.49 3.47 6.38-1.71 8.51-.6.25-.72.32-.8 1.22l-.27-.64z"/>
      <path class="st38" d="M-167.98 41.46c0 .73.03 1.24.1 1.79h-2.35c.08-.55.1-1.05.1-1.79v-6.72h-1.62c-.77 0-1.32.03-1.83.09v-2.06c.51.06 1.07.09 1.81.09h5.32c.89 0 1.41-.03 1.93-.09v2.06c-.52-.06-1.01-.09-1.93-.09h-1.53v6.72zM-156.79 43.25c-.09-.52-.2-.97-.33-1.35l-.43-1.24h-3.86l-.43 1.24c-.2.57-.28.92-.35 1.35h-2.53c.2-.38.38-.8.65-1.53l2.79-7.53c.23-.64.33-.97.41-1.33h2.75c.08.33.15.6.43 1.33l2.81 7.53c.24.65.47 1.21.63 1.53h-2.54zm-2.51-8.01c-.04-.12-.09-.24-.19-.59-.08.27-.09.33-.18.59l-1.2 3.62h2.79l-1.22-3.62zM-147.69 39.31c-.65 0-.91.01-1.29.06v-1.93c.47.06.75.08 1.6.08h.84c.61 0 1.06-.01 1.58-.06-.06.49-.09.88-.09 1.66v1.39c0 .83.01 1.2.09 1.76-.84.51-1.34.73-2.07.92-.61.17-1.37.27-2.04.27-1.65 0-2.98-.54-3.83-1.53-.78-.93-1.23-2.38-1.23-3.95 0-2.17.89-3.9 2.45-4.75.72-.41 1.6-.6 2.65-.6 1.29 0 2.4.42 3.17 1.19.43.45.66.83.93 1.57l-2.16.54c-.2-.59-.4-.87-.77-1.11-.36-.24-.78-.34-1.38-.34-.7 0-1.35.26-1.8.72-.59.61-.89 1.56-.89 2.81 0 1.23.29 2.21.84 2.84.46.52 1.15.79 2.04.79.77 0 1.37-.15 2.01-.52v-1.79h-.65z"/>
      <path class="st39" d="M563.5-185.49h43.56v38.51H563.5z"/>
    /
      <g>
      <text transform="translate(56.736 -51.417)" class="st21" fill="#00a0e9" font-family="HiraginoSans-W8-83pv-RKSJ-H">
      不備クレーム
      </text>
      </g>
      <g>
      <text transform="translate(58.475 -79.608)" class="st21" fill="#00a0e9" font-family="HiraginoSans-W8-83pv-RKSJ-H">
      後納
      </text>
      </g>
      <g>
      <text transform="translate(-446.987 329.164)" class="st40 st28 st18">
      見積もり未確定
      </text>
      </g>
      <g>
      <text transform="translate(-473.339 619.454)">
      <tspan x="0" y="0" class="st40 st28 st18">刺繍同梱</tspan><tspan x="61.44" y="0" class="st28 st18" fill="#00a0e9">□</tspan>
      </text>
      </g>
      <g>
      <text transform="translate(-475.427 588.296)">
      <tspan x="0" y="0" class="st40 st28 st18">インク同梱</tspan><tspan x="76.8" y="0" class="st28 st18" fill="#00a0e9">□</tspan>
      </text>
      </g>
      <g>
      <text transform="translate(-448.313 512.094)" class="st40 st28 st18">
      タグカットあり
      </text>
      </g>
      <g>
      <text transform="translate(-448.313 403.923)" class="st40 st28 st18">
      お持ち込みあり
      </text>
      </g>
      <g>
      <text transform="translate(-479.567 652.916)">
      <tspan x="0" y="0" class="st40 st28 st18">刺繍</tspan><tspan x="34.72" y="0" class="st28 st18" letter-spacing="3">+</tspan><tspan x="49.26" y="0" class="st40 st28 st18">インク同梱</tspan><tspan x="126.06" y="0" class="st28 st18" fill="#00a0e9">□</tspan>
      </text>
      </g>
      <g>
      <text transform="translate(-448.314 433.019)" class="st40 st28 st18">
      写真確認
      </text>
      </g>
      <g>
      <text transform="translate(-448.313 460.238)" class="st40 st28 st18">
      タグプリントあり
      </text>
      </g>
      <g>
      <text transform="translate(-366.509 1149.373)" class="st40 st28 st48" font-size="43.208">
      検品注意
      </text>
      </g>
      <g>
      <text transform="translate(-292.53 905.484)" class="st40 st28 st18">
      サイズシール
      </text>
      </g>
      <g>
      <text transform="translate(-338.355 996.518)">
      <tspan x="0" y="0" class="st40 st28 st27">タグ付あり</tspan><tspan x="115.2" y="0" class="st28 st27" fill="#00a0e9">□</tspan>
      </text>
      </g>
      <g>
      <text transform="translate(-307.635 786.499)">
      <tspan x="0" y="0" class="st40 st28 st18">加工なし同梱</tspan><tspan x="92.16" y="0" class="st28 st18" fill="#00a0e9">□</tspan>
      </text>
      </g>
      <g>
      <text transform="translate(-307.922 667.173)">
      <tspan x="0" y="0" class="st40 st28 st18">sticker</tspan><tspan x="61.73" y="0" class="st40 st28 st18">同梱</tspan><tspan x="92.45" y="0" class="st28 st18" fill="#00a0e9">□</tspan>
      </text>
      </g>
      <g>
      <text transform="translate(-275.73 756.668)">
      <tspan x="0" y="0" class="st40 st28 st18">UV</tspan><tspan x="29.54" y="0" class="st40 st28 st18">同梱</tspan><tspan x="60.26" y="0" class="st28 st18" fill="#00a0e9">□</tspan>
      </text>
      </g>
      <g>
      <text transform="translate(-298.37 697.004)">
      <tspan x="0" y="0" class="st40 st28 st18">DECK</tspan><tspan x="52.18" y="0" class="st40 st28 st18">同梱</tspan><tspan x="82.9" y="0" class="st28 st18" fill="#00a0e9">□</tspan>
      </text>
      </g>
      <g>
      <text transform="translate(-261.555 1054.641)" class="st40 st28 st18">
      後納あり
      </text>
      </g>
      <g>
      <text transform="translate(-322.995 1077.472)" class="st40 st28 st18">
      海外発注後納あり
      </text>
      </g>
      <g>
      <text transform="translate(-448.314 487.19)" class="st40 st28 st18">
      タグカットなし
      </text>
      </g>
      <g>
      <text transform="translate(-449.122 368.01)" class="st40 st28 st27">
      刷り順指定あり
      </text>
      </g>
      <text transform="translate(-315.774 884.37)">
      <tspan x="0" y="0" class="st40 st28 st48" font-size="30.119">袋入れ</tspan><tspan x="86.74" y="0" class="st28 st48" fill="#00a0e9" font-size="30.119">□</tspan>
      </text>
      <g>
      <text transform="matrix(.9755 0 0 1 -399.548 1026.35)">
      <tspan x="0" y="0" class="st40 st28 st27">NT タグ付けあり</tspan><tspan x="181.39" y="0" class="st28 st27" fill="#00a0e9">□</tspan>
      </text>
      </g>
      <g>
      <text transform="translate(-415.155 1101.304)" class="st40 st28 st18">
      コーナーと分かるもの封入禁止
      </text>
      </g>
      <g>
      <text transform="translate(-401.955 938.004)" class="st40 st28 st48" font-size="29.964">グレースケール</text>
      </g>
      <g>
      <text transform="translate(-477.34 966.687)" class="st40 st28 st27">潰れる場合は担当者に連絡</text>
      </g>
      <g>
      <text transform="translate(-264.813 548.197)" class="st40 st28 st18">同梱あり</text>
      </g>
    %g
      %text.st26.st20.st25{:transform => "translate(549.365 211.965)"} XX
    %g
      %text.st40.st28.st18{:transform => "translate(64.86 215.01)"} シルクスクリーン
    %text.st20{"font-size" => "22.168", :transform => "translate(437.035 50.105)"} 納品先
    %text.st40.st20.st42{:transform => "translate(409.949 35.707)"} 済
    %text{:transform => "translate(13.244 98.857)"}
      %tspan.st31.st28.st25{:x => "0", :y => "0"} 2020年
    %ellipse{:cx => "480.97", :cy => "119.82", :fill => "none", :rx => "29.59", :ry => "28.34", :stroke => "#e60012", "stroke-miterlimit" => "10", "stroke-width" => "3"}
    %text{:transform => "translate(152.29 36.463)"}
      %tspan.st20.st44{:x => "0", :y => "0"} ○○
      %tspan.st20.st44{:x => "36", :y => "0"} ○○
    %g
      %text.st28{"font-size" => "11.373", :transform => "translate(16.855 259.513)"} DATA :
    %text.st20.st44{:transform => "translate(14.86 148.16)"}
      納品希望日 備考欄
    %text.st20.st47{:transform => "translate(13.023 80.526)"}
      お客様名
    %g
      %text.st40.st28.st47.st48{:transform => "translate(10.856 128.202)"}
        納期
    %g
      %text.st40.st28.st44{:transform => "translate(63.008 168.018)"}
        XXXXXXXXXXXXXXXX
    %g
      %text.st40.st28.st30{:transform => "translate(64.809 259.477)"}
        お客様名 加工箇所 入稿データ名 ID
    %text.st20.st42{:transform => "translate(13.255 279.947)"}
      ◆◆◆◆◆◆
    %text.st32.st28.st44{:transform => "translate(9.288 21.69)"}
      美女木
