- content_for(:html_title) { @order.customer.customer_type.customer_type_name+" "+@customer.customer_name+" 様"+" / ご注文ID : "+@order.uid }

%h2
  = link_to customer_path(@customer.uid) do
    #{@order.customer.customer_type.customer_type_name}
    #{@customer.customer_name} 様
  (ご注文ID :
  = link_to @order.uid, 'https://mail.google.com/mail/u/0/#search/'+@order.uid, target:["_blank"]
  )

%h3 ご注文日時(受信日時) : #{l(@order.order_date, format: :long, default: '')}

- if @order.payment_method_id != 1
  %h3{id: 'fubi'} お支払い方法 : #{PaymentMethod.find(@order.payment_method_id).payment_method_name}
- else
  %h3 お支払い方法 : #{PaymentMethod.find(@order.payment_method_id).payment_method_name}

- if Order.where(customer_id: @customer.id).sum(:difference) <= 0
  %h3 お預かり金 : なし
- else
  #redyellow{style:'margin:-2px 5px; font-size:16px'}
    = number_to_currency(Order.where(customer_id: @customer.id).sum(:difference), format: "%u%n", unit: "¥")

%h3 みつもり難易度 : #{QuoteDifficultyLevel.find(@order.quote_difficulty_level_id).quote_difficulty_level_name}
%h3 担当者 : #{User.find(@order.representative_user_id).user_name}

= render 'form', order: @order
-# = link_to 'みつもり未対応一覧に戻る', representative_backlog_index_path