%h2
  = link_to customer_path(@customer.uid) do
    #{@customer.customer_name} 様
  (#{@order.customer.customer_type.customer_type_name}) /ご注文ID :
  = link_to @order.uid, 'https://mail.google.com/mail/u/0/#search/'+@order.uid, target:["_blank"]
  -# = PaymentMethod.find(@order.customer)

%h3 ご注文日時(受信日時) : #{l(@order.order_date, format: :long, default: '')}
%h3 みつもり難易度 : #{QuoteDifficultyLevel.find(@order.quote_difficulty_level_id).quote_difficulty_level_name}

- if OrderNote.find_by(order_id: @order.id).present?
  %p
    %b ご注文備考欄 : #{OrderNote.find_by(order_id: @order.id).order_note}
    (記入者 : #{User.find(OrderNote.find_by(order_id: @order.id).user_id).user_name})


= render 'form', order: @order
= link_to 'みつもり未対応一覧に戻る', representative_backlog_index_path