- content_for(:html_title) { @order.customer.customer_type.customer_type_name+" "+@customer.customer_name+" 様"+" / ご注文ID : "+@order.uid }

%h2
  = link_to customer_path(@customer.uid) do
    #{@order.customer.customer_type.customer_type_name}
    #{@customer.customer_name} 様
  (ご注文ID :
  = link_to @order.uid, 'https://mail.google.com/mail/u/0/#search/'+@order.uid, target:["_blank"]
  )
  -# = PaymentMethod.find(@order.customer)

%h3 ご注文日時(受信日時) : #{l(@order.order_date, format: :long, default: '')}
%h3 みつもり難易度 : #{QuoteDifficultyLevel.find(@order.quote_difficulty_level_id).quote_difficulty_level_name}
%h3 担当者 : #{User.find(@order.representative_user_id).user_name}

= render 'form', order: @order
-# = link_to 'みつもり未対応一覧に戻る', representative_backlog_index_path

%svg{:viewbox => "0 0 595.28 841.89", :xmlns => "http://www.w3.org/2000/svg"}
  \/*
  :css
    .st7,.st8{fill:#00a0e9;stroke:#000;stroke-width:.6792;stroke-miterlimit:10}.st8{fill:none;stroke-width:.4997}.st9{stroke-width:.5}.st10,.st11,.st12,.st13,.st14,.st15,.st16,.st9{fill:none;stroke:#000;stroke-miterlimit:10}.st11,.st12,.st13,.st14,.st15,.st16{stroke-width:.75}.st12,.st13,.st14,.st15,.st16{stroke-width:.5012}.st13,.st14,.st15,.st16{stroke-width:.3341}.st14,.st15,.st16{stroke-width:.4566}.st15,.st16{stroke-width:.4701}.st16{stroke-width:2}.st17{font-family:&apos;Helvetica-Bold&apos;}.st18{font-size:16px}.st19{fill:none}.st20{font-family:&apos;KozGoPr6N-Regular-83pv-RKSJ-H&apos;}.st21{font-size:21px}.st22{font-family:&apos;HiraginoSans-W5-83pv-RKSJ-H&apos;}.st23{font-size:15px}.st24{letter-spacing:1}.st25{font-size:8px}.st26{fill:#231815}.st27{font-size:24px}.st28{font-family:&apos;HiraginoSans-W7-83pv-RKSJ-H&apos;}.st29{letter-spacing:6}.st30{font-size:9px}.st31{fill:#040000}.st32{fill:#fff100}.st33,.st34{fill:none;stroke:#fff100;stroke-width:2.0475}.st34{stroke:#fff;stroke-width:2.9587;stroke-linecap:round;stroke-linejoin:round}.st37{fill-rule:evenodd;clip-rule:evenodd}.st38{fill:#fff799}.st39{stroke:#000;stroke-width:2.3514;stroke-miterlimit:10}.st40{fill:#e60012}.st42{font-size:10px}.st44{font-size:12px}.st47{font-size:30px}.st48{letter-spacing:-1}
  */
  %g{:id => "基本"}
    %g
      %path.st7{:d => "M7.09 9.92h124.2v22.16H7.09z"}
      %text.st17.st18{:transform => "translate(46.348 26.555)"}
        SILK
      %text{:transform => "translate(398.912 75.32)"}
        %tspan.st20.st21{:x => "0", :y => "0"} 様
      %text.st22.st23.st24{:transform => "translate(15.154 811.078)"}
        備考
      %text.st20.st25{:transform => "translate(65.12 189.546)"}
        ピッキング
      %text.st26.st20.st25{:transform => "translate(105.12 189.546)"}
        \:
      %text.st20.st25{:transform => "translate(411.734 189.546)"}
        検品
      %text.st26.st20.st25{:transform => "translate(427.734 189.546)"}
        \:
      %text.st20.st25{:transform => "translate(500.537 189.546)"}
        梱包
      %text.st26.st20.st25{:transform => "translate(516.537 189.546)"}
        \:
      %text.st20.st27{:transform => "translate(455 131.375)"}
        絶対 / 通常
      %text.st20.st23.st24{:transform => "translate(15.153 238.626)"}
        状況
      %text.st20.st23.st24{:transform => "translate(15.153 213.624)"}
        加工
      %text.st28.st18.st29{:transform => "translate(19.663 170.533)"}
        ID
      %text.st20.st30{:transform => "translate(439.067 21.91)"}
        納品先
      %text{:transform => "translate(139.662 23.104)"}
        %tspan.st31.st20.st30{:x => "0", :y => "0"} 発注日
      %text.st31.st20.st30{:transform => "translate(221.995 23.104)"}
        着日
      %text.st31.st20.st30{:transform => "translate(389.046 22.348)"}
        入金
      %path.st8{:d => "M7.74 89.08h580.45"}
      %path.st9{:d => "M7.09 152.57h581.1M7.09 174.87h581.1M7.09 196.97h581.1"}
      %path.st10{:d => "M7.09 220.2h581.1"}
      %path.st11{:d => "M7.09 781.78h581.1"}
      %path.st12{:d => "M433.38 9.97V153.3"}
      %path.st13{:d => "M285.89 89.01v63.7"}
      %path.st14{:d => "M433.32 27h154.87"}
      %path.st11{:d => "M53.84 781.78v50.19"}
      %path.st15{:d => "M53.84 152.64V245"}
      %text.st20.st25{:transform => "translate(223.486 189.546)"}
        製作
      %text.st26.st20.st25{:transform => "translate(239.486 189.546)"}
        \:
      %path.st9{:d => "M220.75 174.87V197M402.51 174.87v22.1M402.51 196.97v23.23M490.59 220.2v-45.33"}
      %path.st10{:d => "M7.09 245h581.1"}
      %path.st9{:d => "M311.79 174.87v22.1"}
      %g
        %text.st20.st25{:transform => "translate(315.86 189.045)"}
          確認
        %text.st26.st20.st25{:transform => "translate(331.86 189.045)"}
          \:
      %path.st16{:d => "M7.09 9.92h581.1v822.05H7.09z"}
      %g
        %text.st26.st20.st25{:transform => "translate(411.734 211.907)"}
          指示書作成 : 〇〇
      %g
        %text.st26.st20.st25{:transform => "translate(501.362 211.965)"}
          営業担当 :
  %g{:id => "記載"}
    %text.st40.st28.st18{:transform => "translate(314.423 -56.898)"}
      未入金
    %g
      %text.st26.st20.st25{:transform => "translate(549.365 211.965)"} #{User.find(@order.representative_user_id).user_name}
    %g
      %text.st40.st28.st18{:transform => "translate(64.86 215.01)"} シルクスクリーン
    %text.st20{"font-size" => "22.168", :transform => "translate(437.035 50.105)"} 納品先
    %text.st40.st20.st42{:transform => "translate(409.949 35.707)"} 済
    %text{:transform => "translate(13.244 98.857)"}
      %tspan.st31.st28.st25{:x => "0", :y => "0"} 2020年
    %ellipse{:cx => "480.97", :cy => "119.82", :fill => "none", :rx => "29.59", :ry => "28.34", :stroke => "#e60012", "stroke-miterlimit" => "10", "stroke-width" => "3"}
    %text{:transform => "translate(152.29 36.463)"}
      %tspan.st20.st44{:x => "0", :y => "0"} ○○
      %tspan.st20.st44{:x => "36", :y => "0"} ○○
    %g
      %text.st28{"font-size" => "11.373", :transform => "translate(16.855 259.513)"} DATA :
    %text.st20.st44{:transform => "translate(14.86 148.16)"}
      #{l(@order.try(:desired_delivery_date), format: :middle, default: '')} #{DesiredDeliveryType.find(@order.desired_delivery_type_id).desired_delivery_type_name}
    %text.st20.st47{:transform => "translate(13.023 80.526)"}
      #{@customer.customer_name}
      -# お客様名
    %g
      %text.st40.st28.st47.st48{:transform => "translate(10.856 128.202)"}
        #{l(@order.try(:internal_delivery_date), format: :middle, default: '')}
    %g
      %text.st40.st28.st44{:transform => "translate(63.008 168.018)"}
        #{@order.uid}
    %g
      %text.st40.st28.st30{:transform => "translate(64.809 259.477)"}
        #{@customer.customer_name} 加工箇所 入稿データ名 ID
    %text.st20.st42{:transform => "translate(13.255 279.947)"}
      ◆◆◆◆◆◆
    %text.st32.st28.st44{:transform => "translate(9.288 21.69)"}
      美女木
