%h1 Listing orders

= page_entries_info @orders
= paginate @orders

%table
  %thead
    %tr
      %th Uuid
      %th Name
      %th Ordered date
      %th Responsed date
      %th Contact person
      %th States
      %th Silk screen a
      %th Silk screen b
      %th Silk screen c
      %th Inkjet
      %th Embroidery
      %th Sewing
      %th Uv
      %th Silk screen d
      %th Option a
      %th Option b
      %th Delivery address
      %th Desired delivery date
      %th Internal delivery date
      %th Payment date
      %th Amount paid
      %th Location name
      %th Purchase domestic products
      %th Purchase oversea products
      %th Sorting
      %th Order note
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.uuid
        %td= order.name
        %td= order.ordered_date
        %td= order.responsed_date
        %td= order.contact_person
        %td= order.states
        %td= order.silk_screen_a
        %td= order.silk_screen_b
        %td= order.silk_screen_c
        %td= order.inkjet
        %td= order.embroidery
        %td= order.sewing
        %td= order.uv
        %td= order.silk_screen_d
        %td= order.option_a
        %td= order.option_b
        %td= order.delivery_address
        %td= order.desired_delivery_date
        %td= order.internal_delivery_date
        %td= order.payment_date
        %td= order.amount_paid
        %td= order.location_name
        %td= order.purchase_domestic_products
        %td= order.purchase_oversea_products
        %td= order.sorting
        %td= order.order_note
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }

%br

= page_entries_info @orders
= paginate @orders

= link_to 'New Order', new_order_path
