%h2
  = link_to customer_path(@customer.uid) do
    #{@customer.customer_name} 様
  の新規ご注文を登録

= form_with model: @order, local: true do |f|
  = f.hidden_field :customer_id, value: @customer.id
  = f.hidden_field :order_reflect_user_id, value: current_user.id
  = f.hidden_field :payment_method_id, value: 1

  = f.hidden_field :representative_user_id, value: 1
  = f.hidden_field :shipment_user_id, value: 1

  .field
    = f.label :uid, "ご注文ID"
    = f.text_field :uid, autofocus: true

  .field
    = f.label :order_type_name, "ご注文の種類"
    = f.collection_select(:order_type_id, OrderType.all, :id, :order_type_name)

  .field
    = f.label :quote_difficulty_level_name, "みつもり難易度"
    = f.collection_select(:quote_difficulty_level_id, QuoteDifficultyLevel.all, :id, :quote_difficulty_level_name)

  .field
    = f.label :order_date, "ご注文日時"
    = f.datetime_select :order_date

  .field
    = f.fields_for :order_addresses, OrderAddress.new do |a|
      = a.label :order_addresses, "ご注文の納品先"
      = a.collection_select(:customer_address_id, CustomerAddress.where(customer_id: @customer.id), :id, :view_prefecture_name)

  .field
    = f.label :desired_delivery_type_name, "納品ご希望日の種類"
    = f.collection_select(:desired_delivery_type_id, DesiredDeliveryType.all, :id, :desired_delivery_type_name)

  .field
    = f.label :desired_delivery_date, "納品ご希望日"
    = f.date_field :desired_delivery_date, autofocus: true, autocomplete: "desired_delivery_date"

  .field
    = f.label :internal_delivery_date, "社内納品日"
    = f.date_field :internal_delivery_date, autofocus: true, autocomplete: "internal_delivery_date"

  .field
    = f.label :specified_time, "時間帯指定"
    = f.collection_select(:specified_time_id, SpecifiedTime.all, :id, :specified_time_name)

  .field
    = f.fields_for :order_notes, OrderNote.new do |n|
      = n.label :order_note, "ご注文の備考欄"
      = n.text_area :order_note, autofocus: true, autocomplete: "order_note"
      = n.hidden_field :user_id, value: current_user.id

  .actions
    = f.submit "ご注文を登録"
