- content_for(:html_title) { @order.customer.customer_type.customer_type_name+" "+@customer.customer_name+" 様"+" / ご注文ID : "+@order.uid }

.container{style:'border:solid 1px #000;'}
  %tbody{style:'border:solid 1px #000;'}
    - OrderDetail.where(order_id: @order.id).each do |order_detail|
      %div{style:'border:solid 1px #000;'}
        %td{style:'border:solid 1px #000;'}
          - if order_detail.mixed_techniques == "mixed"
            合体加工
            %br/
          - else
            単体加工
            %br/
        - OrderTechniqueDetail.where(order_detail_id: order_detail.id).each do |order_technique_detail|
          %tbody{style:'border:solid 1px #000;'}
            %td{style:'border:solid 1px #000;'}
              = Technique.find(order_technique_detail.technique_id).technique_name
              %br
              - OrderDetailOption.where(order_detail_id: order_detail.id).each do |order_detail_option|
                #{OrderOption.find(order_detail_option.order_option_id).order_option_name}
                %br
              - OrderTechniqueDetailOption.where(order_detail_id: order_detail.id).each do |order_technique_detail_option|
                #{TechniqueOption.find(order_technique_detail_option.technique_option_id).technique_option_name}
                %br
            %td
              - if Factory.find_by(id: order_detail.factory_id).id == 4
                %p{class: 'toda1'}
                  #{Factory.find(order_detail.factory_id).factory_name}
              - if Factory.find_by(id: order_detail.factory_id).id == 7
                %p{class: 'nakano'}
                  #{Factory.find(order_detail.factory_id).factory_name}
              - if Factory.find_by(id: order_detail.factory_id).id == 8
                %p{class: 'bijogi'}
                  #{Factory.find(order_detail.factory_id).factory_name}
            %td
              - if order_technique_detail.progress_id == 2
                #fubi
                  #{Progress.find(order_technique_detail.progress_id).progress_name}
              - else
                #{Progress.find(order_technique_detail.progress_id).progress_name}

              - unless order_technique_detail.pasteup_user_id == 1
                %p
                  (#{User.find(order_technique_detail.pasteup_user_id).user_name})
              %br/