%tr
  %td
    - if order.order_type_id == 1 || order.order_type_id == 2
      %div{style:'display:flex; justify-content: flex-end'}
        = link_to 'https://mail.google.com/mail/u/0/#search/'+order.uid, target:["_blank"] do
          #copytext{style:'font-size:15px;font-weight:bold;font-style:italic'}
            = order.uid
        %button.copybtn{type: "button"}
          %i.fas.fa-copy

    - if order.order_type_id == 3
      %div{style:'display:flex; justify-content: flex-end'}
        = link_to 'https://mail.google.com/mail/u/0/#search/'+order.uid, target:["_blank"] do
          #copytext{style:'font-size:15px;font-weight:bold;font-style:italic'}
            #fubi
              = order.uid
          %span{style:'font-size:10px;font-style:italic'}
            (#{OrderType.find(order.order_type_id).order_type_name})
        %button.copybtn{type: "button"}
          %i.fas.fa-copy

    - if order.order_type_id == 4 || order.order_type_id == 5 || order.order_type_id == 6 || order.order_type_id == 7 || order.order_type_id == 8
      %div{style:'display:flex; justify-content: flex-end'}
        = link_to 'https://mail.google.com/mail/u/0/#search/'+order.uid, target:["_blank"] do
          #copytext{style:'font-size:15px;font-weight:bold;font-style:italic'}
            #kono
              = order.uid
          %span{style:'font-size:10px;font-style:italic'}
            (#{OrderType.find(order.order_type_id).order_type_name})
        %button.copybtn{type: "button"}
          %i.fas.fa-copy

  %td{style:'font-size:12px;font-weight:bold;font-style:italic'}
    - if order.customer.customer_type_id == 1
      .overflow-tooltip
        %span{title: "#{order.customer.customer_name} æ§˜"}
          = link_to customer_path(id: order.customer.uid) do
            #{order.customer.customer_type.customer_type_name}#{order.customer.customer_name} æ§˜

    - if order.customer.customer_type_id == 2
      .overflow-tooltip{id: 'fubi'}
        %span{title: "#{order.customer.customer_name} æ§˜"}
          = link_to customer_path(id: order.customer.uid) do
            #{order.customer.customer_type.customer_type_name}#{order.customer.customer_name} æ§˜

  %td{style:'font-size:14px'}
    #{QuoteDifficultyLevel.find(order.quote_difficulty_level_id).quote_difficulty_level_name}

  %td
    = link_to customer_path(id: order.customer.uid) do
      %i.fas.fa-history
      #{Order.where(customer_id: order.customer_id).count}

  %td
    = l(order.try(:order_date), format: :middle, default: '')

  %td
    - if order.representative_user_id == 1
      %p{style: 'color:lightgray'}
        = User.find(order.representative_user_id).user_name
    - else
      = User.find(order.representative_user_id).user_name

  %td
    - OrderAddress.where(order_id: order.id).each do |oa|
      - if PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id.between?(1, 2) || PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id == 28 || PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id.between?(31, 47)
        %p{id: 'fubi'}
          = PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).name
          %br
      - elsif PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id == 11 || PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id == 13 || PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).id == 49
        %p{id: 'lightblue'}
          = PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).name
          %br
      - else
        = PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).name
        %br

  %td
    - if order.desired_delivery_date.present?
      - if order.desired_delivery_type_id == 1
        %p{id: 'red'}
          #{l(order.try(:desired_delivery_date), format: :middle, default: '')}å¿…ç€

      - elsif order.desired_delivery_type_id == 2
        %p{id: 'red'}
          #{l(order.try(:desired_delivery_date), format: :middle, default: '')}ã¾ã§ã«

      - elsif order.desired_delivery_type_id == 3
        %p{id: 'green'}
          #{l(order.try(:desired_delivery_date), format: :middle, default: '')}å‰å¾Œ

      - elsif order.desired_delivery_type_id == 4
        %p{id: 'green'}
          #{l(order.try(:desired_delivery_date), format: :middle, default: '')}å‰å¾Œ

  %td{style: 'font-weight:bold'}
    - if order.internal_delivery_date.present?
      - if order.desired_delivery_type_id == 1
        %p{id: 'red'}
          #{l(order.try(:internal_delivery_date), format: :middle, default: '')}

      - elsif order.desired_delivery_type_id == 2
        %p{id: 'red'}
          #{l(order.try(:internal_delivery_date), format: :middle, default: '')}

      - elsif order.desired_delivery_type_id == 3
        %p{id: 'green'}
          #{l(order.try(:internal_delivery_date), format: :middle, default: '')}

      - elsif order.desired_delivery_type_id == 4
        %p{id: 'green'}
          #{l(order.try(:internal_delivery_date), format: :middle, default: '')}

  %td
    - if order.payment_amount.nil?
      %i.fab.fa-creative-commons-nc-jp{style:'font-size:10px; color:#333'}
      ä¸è¦
    - elsif order.difference >= 0
      %i.far.fa-check-circle{style:'font-size:10px; color:#333'}
      #{number_to_currency(order.payment_amount, format: "%u%n", unit: "Â¥")}
    - elsif order.difference < 0
      %span#fubi
        %i.fas.fa-times-circle
        #{number_to_currency(order.payment_amount, format: "%u%n", unit: "Â¥")}

  %td
    - if BuyDetail.where(order_id: order.id).blank?
      - if order.domestic_buying == "included"
        #fubi
          %i.fas.fa-times-circle
          å›½å†…:æœªç™ºæ³¨

      - if order.overseas_buying == "included"
        #fubi
          %i.fas.fa-times-circle
          æµ·å¤–:æœªç™ºæ³¨

    - else
      - BuyDetail.where(order_id: order.id).each do |buy_detail|
        - if order.domestic_buying == "included" && buy_detail.buy_type_id == 1 && buy_detail.buy_progress_id == 1
          #lightblue
            %i.fas.fa-hourglass-half{style:'font-size:10px; color:#333'}
            å›½å†…:ä½œæ¥­ä¸­

        - if order.domestic_buying == "included" && buy_detail.buy_type_id == 1 && buy_detail.buy_progress_id == 2
          .overflow-tooltip
            %i.far.fa-check-circle{style:'font-size:10px; color:#333'}
            å›½å†…:
            - BuyNote.where(buy_detail_id: buy_detail.id).each do |buy_note|
              %span{title: "#{buy_note.buy_note}"}
                #{buy_note.buy_note}
                %br/

        - if order.domestic_buying == "included" && buy_detail.buy_type_id == 1 && buy_detail.buy_progress_id == 3
          #fubi
            .overflow-tooltip
              %i.fas.fa-exclamation-triangle{style:'font-size:10px'}
              å›½å†…:æ¬ å“ã‚ã‚Š
              - BuyNote.where(buy_detail_id: buy_detail.id).each do |buy_note|
                %span{title: "#{buy_note.buy_note}"}
                  #{buy_note.buy_note}
                  %br/

        - if order.domestic_buying == "included" && buy_detail.buy_type_id == 1 && buy_detail.buy_progress_id == 4
          #fubi
            .overflow-tooltip
              %i.fas.fa-sync-alt{style:'font-size:10px'}
              å›½å†…:å¤‰æ›´ã‚ã‚Š
              - BuyNote.where(buy_detail_id: buy_detail.id).each do |buy_note|
                %span{title: "#{buy_note.buy_note}"}
                  #{buy_note.buy_note}
                  %br/

        - if order.domestic_buying == "included" && buy_detail.buy_type_id == 1 && buy_detail.buy_progress_id == 5
          #red
            .overflow-tooltip
              %i.fas.fa-apple-alt{style:'font-size:10px'}
              å›½å†…:ã”å…¥é‡‘ãªã—
              - BuyNote.where(buy_detail_id: buy_detail.id).each do |buy_note|
                %span{title: "#{buy_note.buy_note}"}
                  #{buy_note.buy_note}
                  %br/

        - if order.overseas_buying == "included" && buy_detail.buy_type_id == 2 && buy_detail.buy_progress_id == 1
          #lightblue
            %i.fas.fa-hourglass-half{style:'font-size:10px; color:#333'}
            æµ·å¤–:ä½œæ¥­ä¸­

        - if order.overseas_buying == "included" && buy_detail.buy_type_id == 2 && buy_detail.buy_progress_id == 2
          - OverseasBuyingDetail.where(buy_detail_id: buy_detail.id).each do |overseas_buying_detail|
            - if overseas_buying_detail.sort == "completed" && overseas_buying_detail.transfer == "completed"
              .overflow-tooltip
                %i.far.fa-check-circle{style:'font-size:10px; color:#333'}
                %span{title: "#{l(overseas_buying_detail.updated_at, format: :middle, default: '')}è»¢é€æ¸ˆ"}
                  æµ·å¤–: #{l(overseas_buying_detail.updated_at, format: :middle, default: '')}è»¢é€æ¸ˆ

            - elsif overseas_buying_detail.sort == "completed" && overseas_buying_detail.transfer == "uncompleted"
              #lightblue.overflow-tooltip
                %i.fas.fa-sync-alt{style:'font-size:10px;'}
                %span{title: "#{l(overseas_buying_detail.updated_at, format: :middle, default: '')}ä»•åˆ†ã‘æ¸ˆ/è»¢é€æœªå®Œäº†"}
                  æµ·å¤–: #{l(overseas_buying_detail.updated_at, format: :middle, default: '')}ä»•åˆ†ã‘æ¸ˆ/è»¢é€æœªå®Œäº†

        - if order.overseas_buying == "included" && buy_detail.buy_type_id == 2 && buy_detail.buy_progress_id == 3
          #fubi
            .overflow-tooltip
              %i.fas.fa-exclamation-triangle{style:'font-size:10px'}
              æµ·å¤–:æ¬ å“ã‚ã‚Š
              - BuyNote.where(buy_detail_id: buy_detail.id).each do |buy_note|
                %span{title: "#{buy_note.buy_note}"}
                  #{buy_note.buy_note}
                  %br/

        - if order.overseas_buying == "included" && buy_detail.buy_type_id == 2 && buy_detail.buy_progress_id == 4
          #fubi
            .overflow-tooltip
              %i.fas.fa-sync-alt{style:'font-size:10px;'}
              æµ·å¤–:å¤‰æ›´ã‚ã‚Š
              - BuyNote.where(buy_detail_id: buy_detail.id).each do |buy_note|
                %span{title: "#{buy_note.buy_note}"}
                  #{buy_note.buy_note}
                  %br/

        - if order.overseas_buying == "included" && buy_detail.buy_type_id == 2 && buy_detail.buy_progress_id == 5
          #red
            .overflow-tooltip
              %i.fas.fa-apple-alt{style:'font-size:10px'}
              æµ·å¤–:ã”å…¥é‡‘ãªã—
              - BuyNote.where(buy_detail_id: buy_detail.id).each do |buy_note|
                %span{title: "#{buy_note.buy_note}"}
                  #{buy_note.buy_note}
                  %br/


    - if order.domestic_buying == "not_included"
      #regular{style:'color:silver'}
        å›½å†…:ç™ºæ³¨ãªã—

    - if order.overseas_buying == "not_included"
      #regular{style:'color:silver'}
        æµ·å¤–:ç™ºæ³¨ãªã—

    - if order.carry_in == "included"
      #regular{style:'color:silver'}
        ðŸ¡ãŠæŒè¾¼ã‚ã‚Š

  %td{align: 'left'}
    - OrderNote.where(order_id: order.id).each do |order_note|
      .overflow-tooltip
        %span{title: "#{order_note.order_note}"}
          #{order_note.order_note}

    .container
      %tbody
        %tr
        - OrderDetail.where(order_id: order.id).each_with_index do |order_detail, i|
          %td{colspan: '2', align:'left'}
            - if order_detail.mixed_techniques == "mixed"
              %p{style:'margin:5px 0px 5px 80px'}
                %span{style:'font-weight:bold; font-size:13px; font-style:italic'}
                  #{i+1}.
                %span{style:'font-weight:bold; font-size:12px; font-style:italic; text-decoration:underline'}
                  åˆä½“ (#{Factory.find(order_detail.factory_id).factory_name})
                  %br/

                - OrderDetailOption.where(order_detail_id: order_detail.id).each do |order_detail_option|
                  %span{style:'font-weight:bold; font-size:11px; font-style:italic; color:red'}
                    ã€€ã€€*#{OrderOption.find(order_detail_option.order_option_id).order_option_name}ã‚ã‚Š
                    %br

                - OrderTechniqueDetail.where(order_detail_id: order_detail.id).each_with_index do |order_technique_detail, si|
                  %span{style:'font-weight:bold; font-size:13px; font-style:italic'}
                    ã€€#{i+1}-#{si+1}.
                  %span{style:'font-weight:normal; font-size:12px; font-style:italic'}
                    #{Technique.find(order_technique_detail.technique_id).technique_name}
                  %span{style:'font-weight:normal; font-size:11px;'}
                    (#{Progress.find(order_technique_detail.progress_id).progress_name})
                    %br/

                    - OrderTechniqueDetailOption.where(order_detail_id: order_detail.id).each do |order_technique_detail_option|
                      - if TechniqueOption.find(order_technique_detail_option.technique_option_id).technique_id == order_technique_detail.technique_id
                        %span{style:'font-weight:bold; font-size:11px; font-style:italic; color:red'}
                          ã€€ã€€*#{TechniqueOption.find(order_technique_detail_option.technique_option_id).technique_option_name}
                          %br

            - else
              %p{style:'margin:5px 0px 5px 80px'}
                %span{style:'font-weight:bold; font-size:13px; font-style:italic'}
                  #{i+1}.
                %span{style:'font-weight:normal; font-size:12px; font-style:italic'}
                  å˜ä½“ (#{Factory.find(order_detail.factory_id).factory_name})
                  %br/

                - OrderDetailOption.where(order_detail_id: order_detail.id).each do |order_detail_option|
                  %span{style:'font-weight:bold; font-size:11px; font-style:italic; color:red'}
                    ã€€ã€€*#{OrderOption.find(order_detail_option.order_option_id).order_option_name}ã‚ã‚Š
                    %br

                - OrderTechniqueDetail.where(order_detail_id: order_detail.id).each_with_index do |order_technique_detail, si|
                  %span{style:'font-weight:bold; font-size:13px; font-style:italic'}
                    ã€€#{i+1}-#{si+1}.
                  %span{style:'font-weight:normal; font-size:12px; font-style:italic'}
                    #{Technique.find(order_technique_detail.technique_id).technique_name}
                  %span{style:'font-weight:normal; font-size:11px;'}
                    (#{Progress.find(order_technique_detail.progress_id).progress_name})
                    %br/

                    - OrderTechniqueDetailOption.where(order_detail_id: order_detail.id).each do |order_technique_detail_option|
                      - if TechniqueOption.find(order_technique_detail_option.technique_option_id).technique_id == order_technique_detail.technique_id
                        %span{style:'font-weight:bold; font-size:11px; font-style:italic; color:red'}
                          ã€€ã€€*#{TechniqueOption.find(order_technique_detail_option.technique_option_id).technique_option_name}
                          %br


                  -#%td
                  -#  - unless order_technique_detail.pasteup_user_id == 1
                  -#    ðŸ”#{User.find(order_technique_detail.pasteup_user_id).user_name}
                  -#%td
                  -#  - unless order_technique_detail.maker_id == 1
                  -#    ðŸ—#{User.find(order_technique_detail.maker_id).user_name}
            %td
              = button_to edit_order_path(id: order.uid), method: :get do
                %i.fas.fa-edit{style:'font-size:13px;color:#333'}
                %p{style:'font-size:6px;color:#333'}
                  Edit
              %tbody