%tr
  %td
    - if order.order_type_id == 1 || order.order_type_id == 2
      %p
        = link_to order.uid, 'https://mail.google.com/mail/u/0/#search/'+order.uid, target:["_blank"]

    - if order.order_type_id == 3
      %p{id: 'fubi'}
        = link_to order.uid, 'https://mail.google.com/mail/u/0/#search/'+order.uid, target:["_blank"]

    - if order.order_type_id == 4 || order.order_type_id == 5 || order.order_type_id == 6 || order.order_type_id == 7 || order.order_type_id == 8
      %p{id: 'kono'}
        = link_to order.uid, 'https://mail.google.com/mail/u/0/#search/'+order.uid, target:["_blank"]
        
  %td
    = link_to customer_path(id: order.customer.uid) do
      #{order.customer.customer_name} 様
  %td
    #{order.customer.customer_type.customer_type_name}
  %td
    = l(order.try(:order_date), format: :middle, default: '')
  %td
    = OrderType.find(order.order_type_id).order_type_name
  %td
    = QuoteDifficultyLevel.find(order.quote_difficulty_level_id).quote_difficulty_level_name
  %td
    - OrderAddress.where(order_id: order.id).each do |oa|
      = PrefectureCode.find(CustomerAddress.find(oa.customer_address_id).prefecture_code).name
  %td
    = l(order.try(:desired_delivery_date), format: :middle, default: '')
  %td
    = DesiredDeliveryType.find(order.desired_delivery_type_id).desired_delivery_type_name
  %td
    = l(order.try(:internal_delivery_date), format: :middle, default: '')
  %td
    = l(Payment.find_by(order_id: order.id).try(:payment_date), format: :middle, default: '')
  %td
    = number_to_currency(Payment.find_by(order_id: order.id).try(:amount_paid), format: "%u%n", unit: "¥")
  %td
    = OrderNote.find_by(order_id: order.id).try(:order_note)
  %td
    = form_with model: order, url: update_representative_user_order_path(id: order.uid), local: true do |f|
      = f.hidden_field :representative_user_id, value: current_user.id
      = f.hidden_field :first_response_date , value: DateTime.now
      = f.submit "ご対応する"