%tr
  %td
    - if order.order_type_id == 1 || order.order_type_id == 2 || order.order_type_id == 9
      %p
        = link_to order.uid, 'https://mail.google.com/mail/u/0/#search/'+order.uid, target:["_blank"]

    - if order.order_type_id == 3
      %p{id: 'fubi'}
        = link_to order.uid, 'https://mail.google.com/mail/u/0/#search/'+order.uid, target:["_blank"]

    - if order.order_type_id == 4 || order.order_type_id == 5 || order.order_type_id == 6 || order.order_type_id == 7 || order.order_type_id == 8
      %p{id: 'kono'}
        = link_to order.uid, 'https://mail.google.com/mail/u/0/#search/'+order.uid, target:["_blank"]

  %td
    - if order.customer.customer_type_id == 1
      .overflow-tooltip
        = link_to customer_path(id: order.customer.uid) do
          %span{title: "#{order.customer.customer_name} 様"}
            #{order.customer.customer_type.customer_type_name}
            - if order.customer.sales == "sales"
              %span{style:'font-family:"小塚ゴシック Pro"'}
                🈺
            #{order.customer.customer_name} 様

    - if order.customer.customer_type_id == 2
      .overflow-tooltip{id:'fubi'}
        = link_to customer_path(id: order.customer.uid) do
          %span{title: "#{order.customer.customer_name} 様"}
            #{order.customer.customer_type.customer_type_name}
            - if order.customer.sales == "sales"
              %span{style:'font-family:"小塚ゴシック Pro"'}
                🈺
            #{order.customer.customer_name} 様

  %td
    - if order.internal_delivery_date.present?
      - if order.desired_delivery_type_id == 1
        %p{id: 'red'}
          #{l(order.try(:internal_delivery_date), format: :middle, default: '')}

      - elsif order.desired_delivery_type_id == 2
        %p{id: 'red'}
          #{l(order.try(:internal_delivery_date), format: :middle, default: '')}

      - elsif order.desired_delivery_type_id == 3
        %p{id: 'green'}
          #{l(order.try(:internal_delivery_date), format: :middle, default: '')}

      - elsif order.desired_delivery_type_id == 4
        %p{id: 'green'}
          #{l(order.try(:internal_delivery_date), format: :middle, default: '')}

  %td
    - OrderDetail.where(order_id: order.id).distinct.pluck(:factory_id).each do |order_detail|
      - if OrderDetail.where(order_id: order.id).distinct.pluck(:factory_id).count > 1
        %p{id: 'redyellow'}
          = Factory.find_by(id: order_detail).factory_name
          %br/

      - elsif Factory.find_by(id: order_detail).id == 1
        %p
          = Factory.find_by(id: order_detail).factory_name

      - elsif Factory.find_by(id: order_detail).id == 4
        %p{id: 'toda1'}
          = Factory.find_by(id: order_detail).factory_name

      - elsif Factory.find_by(id: order_detail).id == 7
        %p{id: 'nakano'}
          = Factory.find_by(id: order_detail).factory_name

      - elsif Factory.find_by(id: order_detail).id == 8
        %p{id: 'bijogi'}
          = Factory.find_by(id: order_detail).factory_name

  %td
    - if order.payment_method_id == 3
      %i.fab.fa-creative-commons-nc-jp{style:'font-size:10px; color:#333'}
      不要
      %p
      後払い (要請求書)
    - elsif order.payment_method_id == 4
      %i.fab.fa-creative-commons-nc-jp{style:'font-size:10px; color:#333'}
      不要
      %br/
      🈺後払い
    - elsif order.payment_method_id == 5
      %i.fab.fa-creative-commons-nc-jp{style:'font-size:10px; color:#333'}
      不要
      %br/
      ©🅿社内案件
    - elsif order.payment_amount.nil?
      %i.fab.fa-creative-commons-nc-jp{style:'font-size:10px; color:#333'}
      不要

    - elsif order.difference >= 0
      %i.far.fa-check-circle{style:'font-size:10px; color:#333'}
      #{number_to_currency(order.payment_amount, format: "%u%n", unit: "¥")}

    - elsif order.difference < 0
      %span#fubi
        %i.fas.fa-times-circle
        #{number_to_currency(order.payment_amount, format: "%u%n", unit: "¥")}

      - if order.payment_deadline_date.nil?
        %p{style:'font-style:italic; font-size:10px; transform:scale(0.8);'}
          期限未設定
      - elsif order.payment_deadline_date.present? && order.difference < 0
        - if order.payment_deadline_date == Date.today
          %p{id: 'fubi', style:'font-size:10px; transform:scale(0.8);'}
            期限当日 : #{l(order.try(:payment_deadline_date), format: :middle, default: '')}
        - if order.payment_deadline_date < Date.today
          %p{id: 'fubi', style:'font-size:10px; transform:scale(0.8);'}
            期限切れ : #{l(order.try(:payment_deadline_date), format: :middle, default: '')}
        - elsif order.payment_deadline_date > Date.today && (order.payment_deadline_date - Date.today).to_i.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1').to_i == 1
          %p{id: 'red', style:'font-size:10px; transform:scale(0.8);'}
            (明日#{l(order.try(:payment_deadline_date), format: :middle, default: '')}までに)
        - elsif order.payment_deadline_date > Date.today && (order.payment_deadline_date - Date.today).to_i.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1').to_i >= 2
          %p{style:'font-size:10px; transform:scale(0.8);'}
            #{l(order.try(:payment_deadline_date), format: :middle, default: '')}までに(あと#{(order.payment_deadline_date - Date.today).to_i.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1')}日)

  %td
    - BuyDetail.where(order_id: order.id).each do |buy_detail|
      - if buy_detail.buying_user_id == 29 || buy_detail.buying_user_id == 32 || buy_detail.buying_user_id == 33 || buy_detail.buying_user_id == 96
        - if BuyProgress.find(buy_detail.buy_progress_id).id == 1
          %p{id: 'lightblue'}
            #{BuyProgress.find(buy_detail.buy_progress_id).buy_progress_name}(#{User.find(buy_detail.buying_user_id).user_name})

        - if BuyProgress.find(buy_detail.buy_progress_id).id == 2
          %p
            #{BuyProgress.find(buy_detail.buy_progress_id).buy_progress_name}(#{User.find(buy_detail.buying_user_id).user_name})

        - if BuyProgress.find(buy_detail.buy_progress_id).id == 3
          %p{id: 'redyellow'}
            #{BuyProgress.find(buy_detail.buy_progress_id).buy_progress_name}(#{User.find(buy_detail.buying_user_id).user_name})

        - if BuyProgress.find(buy_detail.buy_progress_id).id == 4
          %p{id: 'yellowred'}
            #{BuyProgress.find(buy_detail.buy_progress_id).buy_progress_name}(#{User.find(buy_detail.buying_user_id).user_name})

        - if BuyProgress.find(buy_detail.buy_progress_id).id == 5
          %p{id: 'yellowred'}
            #{BuyProgress.find(buy_detail.buy_progress_id).buy_progress_name}(#{User.find(buy_detail.buying_user_id).user_name})

  %td{style: "text-align:left"}
    - BuyDetail.where(order_id: order.id).each do |buy_detail|
      - BuyNote.where(buy_detail_id: buy_detail.id).each do |buy_note|
        = buy_note.buy_note
        %br/

  %td{style: "text-align:left"}
    - OrderNote.where(order_id: order.id).each do |order_note|
      #{order_note.order_note.to_s.truncate(16)}
      %br/

  %td
    = button_to '詳細・変更', edit_order_path(id: order.uid), method: :get